<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="助家生活">
    <meta name="keywords" content="助家生活">
    <title>工人详情</title>
    <link rel="stylesheet" href="../../css/weui.min.css">
    <link rel="stylesheet" href="../../css/worker/worker-detail.min.css">
    <link rel="stylesheet" href="../../css/business-detail/dropload.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.0/css/swiper.min.css">
</head>
<style>
    .xingx-img{
        width: 8px;
        height: 8px;
    }
</style>
<body>
<div class="contain" id="container">
    <div class="top-info">
        <a href="javascript:;" id="showSlide">
            <img src="" class="bus-img" alt="">
        </a>

        <div id="fade" class="black_overlay"></div>
        <div id="MyDiv" class="white_content">
            <!-- <div style="text-align: right; cursor: default; height: 40px;">
               <span style="font-size: 16px;" onclick="CloseDiv('MyDiv','fade')">关闭</span>
            </div> -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="http://aliimg.changba.com/cache/photo/159415743_640_640.jpg" class="swiper-img" alt=""></div>
                    <div class="swiper-slide"><img src="http://i3.dpfile.com/pc/7909158bfe590cdc6c13e65d7f747ecc%28700x700%29/thumb.jpg" class="swiper-img" alt=""></div>
                    <div class="swiper-slide">
                        <img src="http://i3.dpfile.com/pc/7909158bfe590cdc6c13e65d7f747ecc%28700x700%29/thumb.jpg" class="swiper-img" alt=""></div>
                    <div class="swiper-slide"><img src="http://aliimg.changba.com/cache/photo/159415743_640_640.jpg" class="swiper-img" alt=""></div>
                    <div class="swiper-slide"><img src="http://i3.dpfile.com/pc/7909158bfe590cdc6c13e65d7f747ecc%28700x700%29/thumb.jpg" class="swiper-img" alt=""></div>
                    <div class="swiper-slide">
                        <img src="http://i3.dpfile.com/pc/7909158bfe590cdc6c13e65d7f747ecc%28700x700%29/thumb.jpg" class="swiper-img" alt=""></div>
                </div>
            </div>
        </div>

        <div class="name-info">

            <div class="bus-name ">
                <span class="Name"></span>
                <span><img src="" class="Gender" value="" alt=""/></span>
                <span class="Age"></span>
            </div>

            <div class="top-ic">
                <img src="/images/worker/ic_dianzan.svg" alt="" class="dianzan">
                <span class="font-style"><span class="PraiseCount"></span></span>
                <img src="/images/worker/ic_shoucang.svg" alt="" class="dianzan">
                <span class="font-style"><span class="FavoriteCount"></span></span>
            </div>
            <div class="clear"></div>
        </div>
        <a href="worker-message.html">
            <div class="yewu">
                <div class="bus-work">
                    <span style="font-size: 14px;" class="">小时工</span>
                    <span class="Wage" style="padding-left: 165px; font-size: 14px; color:#ec4836;">1111111</span>
                    <span class="wk-list"></span>
                </div>

                <span style="float: right;" ><img src="/images/business-detail/jiantou.png" alt="" class="more"></span>
                <div class="clear"></div>
            </div>
        </a>
        <div class="bus-add">
            <div class="address">
                <span class="NativePlace"></span>
                <span style="padding-left: 37px;" class="WorkingYears"></span>
            </div>
            <div class="bus-jl">距离<span class="jl-num"></span></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="score">
        <ul>
            <li>
                <div class="li-center">
                    <img src="/images/worker/ic_dingdan.svg" class="score-img" alt="">
                    <div class="score-one">
                        <span class="data-top"><span class="OrderCount"></span></span>
                        <img src="/images/worker/ic_shuzhuangtiao.svg" alt="" class="shuzhuangtiao"><span class="OrderRank"></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="li-center">
                    <img src="/images/worker/ic_tonghua.svg" class="score-img" alt="">
                    <div class="score-one">
                        <span class="data-top"><span class="PhoneCount"></span></span>
                        <span><img src="/images/worker/ic_shuzhuangtiao.svg" alt="" class="shuzhuangtiao"><span class="PhoneRank"></span></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="li-center">
                    <img src="/images/worker/ic_pingfen.svg" class="score-img" alt="">
                    <div class="score-one">
                        <span class="data-top"><span class="Grade"></span></span>
                        <span><img src="/images/worker/ic_shuzhuangtiao.svg" alt="" class="shuzhuangtiao"><span class="GradeRank"></span></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <hr class="line">
    <!-- 认证信息	 -->
    <a href="javascript:;" id="showDialog2">
        <div class="rz-info">
            <span class="rz-title">认证信息</span>
            <!--<div class="bus-img"></div>-->
            <span><img src="" alt=""/></span>
            <span><img src="" alt=""/></span>
            <span><img src="" alt=""/></span>
            <span><img src="" alt=""/></span>
            <img style="float: right; " src="/images/business-detail/jiantou.png" alt="" class="more">
        </div>
    </a>
    <div class="weui_dialog_confirm" id="dialog2" style="display: none;">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd">认证详情
                <a href="javascript:;" class="weui_btn_dialog default"><img src=/images/worker/ic_guanbi.svg" class="rz-close" alt=""></a>
            </div>
            <div class="weui_dialog_bd">
                <ul class="dialog-imgs"></ul>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <hr class="line">

    <div style="margin-top: 6px;" class="weui_cells">
        <div class="weui_cell">
            <div style="height: 30px;" class="weui_cell_bd weui_cell_primary ">
                <p class="client-evaluation">客户评价</p>
            </div>
            <div class="weui_cell_ft"></div>
        </div>
    </div>
    <!--客户无评价-->
    <!--<div style="margin-top: 30px;">-->
        <!--<div style="margin: 0 auto;" class="shafa">-->
            <!--<img src="../../images/worker/shafa.png" alt=""/>-->
        <!--</div>-->
        <!--<div class="shafa-font">沙发没人做,赶紧去抢吧</div>-->
    <!--</div>-->
    <!--客户评论-->
    <div style="clear: both; font-size:12px; overflow: hidden;vertical-align: middle; padding: 10px 0 0 15px;">
        <div class="fl">
            <img style="width: 20px; height: 20px; vertical-align: middle;" src="../../images/worker/touxiang.png" class="touxiang-img" alt=""/>
            <span>糖瓜瓜</span>
            <span>2015-12-11</span>
        </div>
        <div style="padding-right: 20px; " class="fr">
            <img src="../../images/worker/ic_xin_sel.svg"  class="xingx-img" alt=""/>
            <img src="../../images/worker/ic_xin_sel.svg" class="xingx-img" alt=""/>
            <img src="../../images/worker/ic_xin_sel.svg"  class="xingx-img" alt=""/>
            <img src="../../images/worker/ic_xin_sel.svg" class="xingx-img"  alt=""/>
            <img src="../../images/worker/ic_xin_sel.svg" class="xingx-img" alt=""/>
            5.0
        </div>
        <div style="clear: both;text-align: center; width: 360px; ">啊啊啊啊啊啊啊啊阿啊啊啊啊啊啊啊啊阿啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊阿啊啊啊啊啊啊啊啊阿啊啊啊啊啊啊啊啊啊啊啊啊啊啊阿啊啊啊啊啊啊啊啊阿啊啊啊啊啊</div>
    </div>

    <!-- 底部导航条 -->
    <div class="weui_tabbar">
        <a href="javascript:;" class="weui_tabbar_item weui_bar_item_on">
            <div class="weui_tabbar_icon">
                <img src="../../images/worker/ic_zhijiezhifu_nor.svg" alt="">
            </div>
        </a>
        <a href="javascript:;" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="../../images/worker/ic_order_nor.svg" alt="">
            </div>
        </a>
        <a href="" class="weui_tabbar_item phoneNo ">
            <div class="weui_tabbar_icon">
                <img src="../../images/worker/ic_phone_nor.svg"  class="dianhua-img" alt="">
            </div>
        </a>
    </div>
</div>
<script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="../../js/business-detail//dropload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.0/js/swiper.min.js"></script>
<script src="../../js/worker/worker-detail.min.js"></script>
</body>
<script>
    /**
     * Created by Administrator on 2016/9/13.
     */
    $(function(){
        var swiper = new Swiper('.swiper-container', {
            //pagination: '.swiper-pagination',
            initialSlide:0,
            slidesPerView: 3,
            paginationClickable: true,
            spaceBetween: 0,
            touchRatio:1,
            observer:true,//修改swiper自己或子元素时，自动初始化swiper
            observeParents:true//修改swiper的父元素时，自动初始化swiper
        });

        $(".fuwu-cont").click(function(){
            $(".kehu-pingjia").removeClass("active");
            $(this).addClass("active");
            $("#tab-kehu").css("display","none");
            $("#tab-fuwu").css("display","block");
        })
        $(".kehu-pingjia").click(function(){
            $(".fuwu-cont").removeClass("active");
            $(this).addClass("active");
            $("#tab-kehu").css("display","block");
            $("#tab-fuwu").css("display","none");
        })

        // 轮播图弹出层
        $('#container').on('click', '#showDialog1', function () {
            $('#dialog1').show().on('click', '.weui_btn_dialog', function () {
                $('#dialog1').off('click').hide();
            });
        });
        ////手机弹出框
        //$('.dianhua-img').click(function(){
        //    $('.weui_dialog_alert').show();
        //})
        //$('.xx-img').click(function(){
        //    $('.weui_dialog_alert').hide();
        //})

        // 认证信息弹出层
        $('#container').on('click', '#showDialog2', function () {
            $('#dialog2').show().on('click', '.weui_btn_dialog', function () {
                $('#dialog2').off('click').hide();
            });
        });

// 轮播图弹出效果---------------------------------------------
        //弹出隐藏层
        $("#showSlide").click(function(){
            ShowDiv('MyDiv','fade');
        });
        $(".black_overlay").click(function(){
            CloseDiv('MyDiv','fade');
        });


// jax--------------------------------------------------------
// 加载页面其他数据
        var Type=getUrl('type');
        var Id=getUrl('id');
        $.ajax({
            type: 'POST',
            url: 'http://192.168.1.191:3001/api/v2/Provider/Detail',
            dataType: 'json',
            data:{
                Type:"1",
                Id:"3110"
            },
            success:function(data){
                var api=data.Body.Worker;
                $(".bus-img").attr("src",api.Photo);
                $(".Gender").attr("src",api.Gender);
                $(".Name").text(api.Name);
                $(".Age").text(api.Age);
                $(".jl-num").text(api.Distance);
                $(".PraiseCount").text(api.PraiseCount);
                $(".Grade").text(api.Grade);
                $(".phoneNo").attr("href","tel:"+api.PhoneNumber);
                $(".FavoriteCount").text(api.FavoriteCount);
                $(".Wage").text(api.Wage);
                $(".NativePlace").text(api.NativePlace);
                $(".WorkingYears").text(api.WorkingYears);
                $(".addresss").text(api.Address);
                $(".Distance").text(api.Distance);
                $(".OrderCount").text(api.OrderCount);
                $(".OrderRank").text(api.OrderRank);
                $(".PhoneCount").text(api.PhoneCount);
                $(".PhoneRank").text(api.PhoneRank);
                $(".GradeRank").text(api.GradeRank);
                if(api.Gender=="0"){
                    $(".Gender").attr("src","../../images/worker/ic_nv.svg");
                }else if(api.Gender=="1"){
                    $(".Gender").attr("src","../../images/worker/ic_nan.svg");
                }

                // var RzImgs="";
                // for (var i = 0; i < data.Rzimgs.length; i++) {
                // 	RzImgs+='<img src="'+data.Rzimgs[i].pic+'" class="rz-dia-img" alt="">';
                // }
                // $(".rz-imgs").html(RzImgs);

                // var ModelRzImgs="";
                // for (var j = 0; j < data.Rzimgs.length; j++) {
                // 	ModelRzImgs+='<li><img src="'+data.Rzimgs[j].pic+'" class="rz-dia-img" alt=""><span class="rz-name">'+data.Rzimgs[j].title+'</span></li>';
                // }
                // $(".dialog-imgs").html(ModelRzImgs);



            },
            error: function(xhr, type){
                alert('Ajax error!');
                // 即使加载出错，也得重置
                me.resetload();
            }
        });

        //上滑加载"客户评价"更多数据--------------------------------
        var counter2 = 0;
        var num2 = 5;// 每页展示5个
        var pageStart2 = 0,pageEnd2 = 0;
        $('#tab-kehu').dropload({
            scrollArea : window,
            loadDownFn : function(me){
                $.ajax({
                    type: 'POST',
                    url: 'http://192.168.1.191:3003/api/v2/Evaluation/GetMerchantEvaluationList',
                    dataType: 'json',
                    data:{
                        Type:"1",
                        Id:"3110"
                    },

                    success: function(data){

                            var result = '';
                        counter2++;
                        pageEnd2 = num2 * counter2;
                        pageStart2 = pageEnd2 - num2;

                        for(var i = pageStart2; i < pageEnd2; i++){
                            var res='';
                            var api=data.Body.Worker;
                            if(api[i].Gender<5){
                                for(var j = 1; j <= api[i].Gender; j++){
                                    res+='<img src="/images/worker/ic_xin_sel.svg" alt="" class="kehu-xin">'
                                }
                                var x=5-api[i].Gender;
                                for(var m = 1; m <= x; m++){
                                    res+='<img src="/images/worker/ic_xin_nor.svg" alt="" class="kehu-xin">'
                                }
                            }

                            result  +='<div class="kehu-item"><div class="kehu-top"><img src="../../images/worker/bus-img.png" alt="" class="kehu-img">'
                                    +'<span class="kehu-name">'+api[i].name+'</span>'
                                    +'<span class="kehu-time">'+api[i].date+'</span>'
                                    +'<div class="kehu-heart">'+res
                                    +'<span class="kehu-pingfen">'+api[i].Gender+'</span></div></div>'
                                    +'<div class="clear"></div><div class="kehu-cont">'+api[i].cont+'</div></div>';

                            if((i + 1) >= data.Worker.length){
                                // 锁定
                                me.lock();
                                // 无数据
                                me.noData();
                                break;
                            }
                        }
                        // 为了测试，延迟1秒加载
                        setTimeout(function(){
                            $('.kehu-list').append(result);
                            // 每次数据加载完，必须重置
                            me.resetload();
                        },1000);


                    },
                    error: function(xhr, type){
                        alert('Ajax error!');
                        // 即使加载出错，也得重置
                        me.resetload();
                    }
                });
            }
        });

    });

    function ShowDiv(show_div,bg_div){
        document.getElementById(show_div).style.display='block';
        document.getElementById(bg_div).style.display='block' ;
        var bgdiv = document.getElementById(bg_div);
        bgdiv.style.width = document.body.scrollWidth;
        // bgdiv.style.height = $(document).height();
        $("#"+bg_div).height($(document).height());
    };

    //关闭弹出层
    function CloseDiv(show_div,bg_div)
    {
        $('#'+show_div).hide();
        $('#'+bg_div).hide();
    };

    // 获取地址传参
    function getUrl(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r!=null) return unescape(r[2]); return null; //返回参数值
    }
</script>
</html>

