<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="助家生活">
    <meta name="keywords" content="助家生活">
    <title>工人详情</title>
    <link rel="stylesheet" href="/css/weui.min.css">
    <link rel="stylesheet" href="/css/worker/worker-info.min.css">
    <link rel="stylesheet" href="/css/worker/dropload.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.0/css/swiper.min.css">

</head>
<body>
	<div class="contain" id="container">
		<div class="top-info">
			<a href="javascript:;" id="showSlide">
				<img src="" class="bus-img" alt="" onerror='this.src="http://www.guaiguai.com/attachments/201503/24/16/3symdnhef.png"'>
			</a>

			<div id="fade" class="black_overlay"></div>
		    <div id="MyDiv" class="white_content">
				<div class="swiper-container">
			        <div class="swiper-wrapper"></div>
			    </div>
		    </div>
					 				
			<div class="name-info">
				<h4 class="bus-name"></h4>
				<img class="sex" src="" alt="">
				<span class="age"></span>
				<div class="top-ic">
					<img src="/images/worker/ic_dianzan.svg" alt="" class="dianzan">
					<span class="font-style"><span class="PraiseCount"></span></span>
					<img src="/images/worker/ic_shoucang.svg" alt="" class="dianzan">
					<span class="font-style"><span class="FavoriteCount"></span></span>
				</div>
				<div class="clear"></div>
			</div>
			
			<a href="" class="business-mes">
				<div class="yewu">
					<div class="bus-work">
						<span class="wk-list"></span>
					</div>
					<img src="/images/business-detail/jiantou.png" alt="" class="more">
					<span class="wage"></span>
					<div class="clear"></div>
				</div>
			</a>

			<div class="bus-add">
				<div class="address"></div>
				<div class="bus-jl">距离<span class="jl-num"></span></div>
			</div>	
			<div class="clear"></div>
		</div>
		<div class="score">
			<ul>
				<li>
					<div class="li-center">
						<img src="/images/worker/ic_dingdan.svg" class="score-img" alt="">
						<div class="score-one">
							<span class="data-top"><span class="OrderCount"></span></span>
							<img src="/images/worker/ic_shuzhuangtiao.svg" alt="" class="shuzhuangtiao"><span class="OrderRank"></span>
						</div>
					</div>
				</li>
				<li>
					<div class="li-center">
						<img src="/images/worker/ic_tonghua.svg" class="score-img" alt="">
						<div class="score-one">
							<span class="data-top"><span class="PhoneCount"></span></span>
							<span><img src="/images/worker/ic_shuzhuangtiao.svg" alt="" class="shuzhuangtiao"><span class="PhoneRank"></span></span>
						</div>
					</div>
				</li>
				<li>
					<div class="li-center">
						<img src="/images/worker/ic_pingfen.svg" class="score-img" alt="">
						<div class="score-one">
							<span class="data-top"><span class="Grade"></span></span>
							<span><img src="/images/worker/ic_shuzhuangtiao.svg" alt="" class="shuzhuangtiao"><span class="GradeRank"></span></span>
						</div>
					</div>
				</li>
			</ul>
		</div>

		    <!--工人标签-->
	    <div class="worker-tag">
	        <div class="worker-tag-box"></div>
		</div>

		<hr class="line">
		<!-- 认证信息	 -->
	    <a href="javascript:;" id="showDialog2">
			<div class="rz-info">
				<span class="rz-title">认证信息</span>
				<div class="rz-imgs"></div>
				<img src="/images/business-detail/jiantou.png" alt="" class="more">
				<div class="clear"></div>
			</div>
		</a>
		<div class="weui_dialog_confirm" id="dialog2" style="display: none;">
		    <div class="weui_mask"></div>
		    <div class="weui_dialog">
		        <div class="weui_dialog_hd">认证详情
		        	<a href="javascript:;" class="weui_btn_dialog default"><img src="/images/business-detail/ic_guanbi.svg" class="rz-close" alt=""></a>
		        </div>
		        <div class="weui_dialog_bd">
					<ul class="dialog-imgs"></ul>
		        </div>
		    </div>
		</div>

		<!-- 活动内容 -->
	    <div class="ac_cont">
	    	<div class="ac_list">
				
	    	</div>
	        
	        <a href="" class="join_now">
	            <div class="ac_right">
	                <img src="/images/business-detail/button@2x.png" class="exercise-one" alt=""/>
	            </div>
	        </a>
	        <div class="clear"></div>
	    </div>

		<div class="clear"></div>
		<hr class="line">
		<div class="navbar">
			<div class="bd" style="height: 100%;">
			    <div class="weui_tab">
			        <div class="weui_navbar">
			            <div class="kehu-pingjia">
			                客户评价
			            </div>
			        </div>
		            <div id="tab-kehu" >
		            	<div class="no-fuwu" style="display:none;">
							<img class="weui_media_appmsg_thumb no-fuwu-img" src="/images/worker/shafa.png" alt="">
							<p class="no-fuwu-nocice">沙发还没人做，赶紧去抢吧</p>
			            </div>
			            <div class="kehu-list"></div>
			        </div>
	       		</div>
		    </div>
		</div>
		<!-- 底部导航条 -->
		<div class="weui_tabbar">
	        <a href="javascript:;" class="weui_tabbar_item weui_bar_item_on" id="quick-order">
	            <div class="weui_tabbar_icon">
	                <img src="/images/worker/ic_zhijiezhifu_nor.svg" alt="">
	            </div>
	        </a>
	        <a href="javascript:;" class="weui_tabbar_item" id="point-order">
	            <div class="weui_tabbar_icon">
	                <img src="/images/worker/ic_order_nor.svg" alt="">
	            </div>
	        </a>
	        <a href="" class="weui_tabbar_item phoneNo">
	            <div class="weui_tabbar_icon" style="border:none;">
	                <img src="/images/worker/ic_phone_nor.svg" class="call_phone" alt="">
	            </div>
	        </a>
   		</div>
   		<div class="clear"></div>
	</div>
	<script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
	<script src="/js/worker/worker-info.min.js"></script>
	<script src="/js/worker/dropload.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.0/js/swiper.min.js"></script>
	<script>
    $(function(){
        var Type=getUrl('type');
        var Id=getUrl('markid');
        $("#quick-order").on("click",function(){
            window.location.href = "/template/quick-order/quick-order.html?channel=1";
        })
        $("#point-order").on("click",function(){
            window.location.href = "/template/point-order/point-order.html?channel=0&type="+Type+"&markid="+Id;
        })
    })
</script>
</body>
</html>

