
<!DOCTYPE html>
<html lang="en" ng-app="com.wapapp.app">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
    <!--禁止电话，邮件识别-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="助家生活">
    <meta name="keywords" content="助家生活">
    <meta name="author" content="zxh">
    <title>工人信息</title>
    <link rel="stylesheet" href="../../css/weui.min.css">
    <link rel="stylesheet" href="../../css/worker/worker-message.min.css">
</head>
<body ng-controller="bossInfoCtrl"><script id="__bs_script__">//<![CDATA[
document.write("<script async src='/browser-sync/browser-sync-client.2.15.0.js'><\/script>".replace("HOST", location.hostname));
//]]></script>


<div class="weui_cells">
    <div class="zj_cell zj_cell_primary pd">
        <div class="zj_cell_hd">工号</div>
        <div class="zj_cell_bd pl10 JobNumber"></div>
    </div>
    <div class="zj_cell zj_cell_primary pd">
        <div class="zj_cell zj_cell_primary">
            <div class="zj_cell_hd">籍贯</div>
            <div class="zj_cell_bd pl10 NativePlace"></div>
        </div>
        <div class="zj_cell zj_cell_primary">
            <div class="zj_cell_hd">从业年限</div>
            <div class="zj_cell_bd pl10 WorkingYears"></div>
        </div>
    </div>
    <div class="zj_cell zj_cell_primary pd">
        <div class="zj_cell zj_cell_primary">
            <div class="zj_cell_hd">学历</div>
            <div class="zj_cell_bd pl10 Education"></div>
        </div>
        <div class="zj_cell zj_cell_primary">
            <div class="zj_cell_hd">爱好</div>
            <div class="zj_cell_bd pl10 Hobby"></div>
        </div>
    </div>
    <div class="zj_cell zj_cell_primary pd">
        <div class="zj_cell zj_cell_primary">
            <div class="zj_cell_hd">身高</div>
            <div class="zj_cell_bd pl10 Stature"></div>
        </div>
        <div class="zj_cell zj_cell_primary">
            <div class="zj_cell_hd">体重</div>
            <div class="zj_cell_bd pl10 Weight"></div>
        </div>
    </div>
    <div class="zj_cell zj_cell_primary pd">
        <div class="zj_cell zj_cell_primary">
            <div class="zj_cell_hd">血型</div>
            <div class="zj_cell_bd pl10 BloodType"></div>
        </div>
        <div class="zj_cell zj_cell_primary">
            <div class="zj_cell_hd">星座</div>
            <div class="zj_cell_bd pl10 Constellation"></div>
        </div>
    </div>
    <div class="zj_cell zj_cell_primary pd">
        <div class="zj_cell_hd sign">个人签名</div>
        <div class="zj_cell_bd pl10 Signature"></div>
    </div>
</div>
<!-- 商户标签 -->
<div class="business-tag">
    <span class="title">标　　签</span>
    <ul class="tag-item"></ul>
    <div class="clear"></div>
</div>
<div class="weui_cells mt10">
    <div class="zj_cell zj_cell_primary pd">
        <div class="zj_cell_hd">服务时间</div>
        <div class="zj_cell_bd pl10 ServiceTime"></div>
    </div>
    <div class="zj_cell zj_cell_primary pd">
        <div class="zj_cell_hd reside">居住地址</div>
        <div class="zj_cell_bd pl10 Address"></div>
    </div>
    <div class="zj_cell zj_cell_primary pd">
        <div class="zj_cell_hd">服务范围</div>
        <div class="zj_cell_bd pl10 ServiceScope"></div>
    </div>
</div>

<div class="weui_cells mt10">
    <div class="zj_cell zj_cell_primary pd">
        <span class="zj_cell_hd system">系统介绍</span>
        <span class="zj_cell_bd pl10 Intro"></span>
    </div>
</div>

<div class="sys-rz">
    <span class="title">系统认证</span>
    <div class="clear"></div>
    <ul class="items"></ul>
</div>

<script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="../../js/worker/worker-message.min.js"></script>
</body>
</html>
