<!DOCTYPE html>
<html lang="en" ng-app="com.wapapp.app">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0;">
    <!--禁止电话，邮件识别-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="助家生活">
    <meta name="keywords" content="助家生活">
    <meta name="author" content="zxh">
    <title>工人信息</title>
    <link rel="stylesheet" href="../../css/weui.min.css">
    <link rel="stylesheet" href="../../css/worker/worker-message.min.css">
</head>

<body>
<section class="main">
    <div class="card position_infor">
        <div class="position cle">
            <span >工号</span>
            <span>GR003920</span>
        </div>
        <div class="position_comment cle">
            <div class="fl">
                <span class="jg">籍贯</span>
                <span class="region">浙江省温州市</span>
            </div>
            <div class="worder-experience fr">
                <span>从业年限</span>
                <span class="time">5年</span>
            </div>
        </div>
        <div class="position_comment cle">
        <div class="fl">
            <span class="jg">学历</span>
            <span class="region">高中</span>
        </div>
        <div class="worder-interest fr">
            <span>爱好</span>
            <span class="journey">旅游</span>
        </div>
    </div>
        <div class="position_comment cle">
            <div class="fl">
                <span class="jg">身高</span>
                <span class="region">166cm</span>
            </div>
            <div class="worder-interest fr">
                <span>体重</span>
                <span class="journey">52kg</span>
            </div>
        </div>
        <div class="position_comment cle">
            <div class="fl">
                <span class="jg">血型</span>
                <span class="region">B型</span>
            </div>
            <div class="worder-constellation fr">
                <span>星座</span>
                <span class="journey">摩羯座</span>
            </div>
        </div>
        <div class="idiograph cle">
            <div class="position cle">
                <span >个人签名</span>
                <span>两只老虎两只老虎跑得快</span>
            </div>
    </div>
        </div>
    <div style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin-top: 7px; ">
    <div class="idiograph_box">
        <div class="idiograph cle">
            <div class="position cle">
                <span >服务时间</span>
                <span class="position-place">每周一至每周六&nbsp;8:00-20：00</span>
            </div>
            <div class="idiograph cle">
                <div class="position cle">
                    <span >居住地址</span>
                    <span class="position-place">浙江省杭州市江干区迪凯国际中心25B</span>
                </div>
                <div class="idiograph cle">
                    <div class="position cle">
                        <span >服务范围</span>
                        <span class="position-place">5公里</span>
                    </div>
    </div>
            </div>
    </div>

</div>
 </div>
   <div  style="border-top: 1px solid #ccc; margin-top: 7px; ">
       <div  class="idiograph_box">
           <div class="idiograph cle">
               <div class="position fl cle">
                   <span >系统介绍</span>

               </div>
               <div class="fr"> <span class="font-content">阿姨特别认真负责,性格爽朗，做事干脆利索，非常负责。</span></div>
       </div>
   </div>
       </div>
    <div style="border: 1px solid #ccc;" class="xianx"></div>
<div>
    <div class="cle">
        <div class="fl">
            <span>系统认证</span>
        </div>
        <div class="fl cle" style="width:181px;height: 80px;">
            <div class="fl">
                <span ><img src="" alt=""/></span>
                <span class="region">有工人端</span>
            </div>
            <div class="worder-experience fr">
                <span><img src="" alt=""/></span>
                <span >实名认证</span>
            </div>
            <div class="fl">
                <span ><img src="" alt=""/></span>
                <span class="region">配备工具</span>
            </div>
            <div class="worder-experience fr">
                <span><img src="" alt=""/></span>
                <span >持健康证</span>
            </div>
        </div>
    </div>
</div>




</section>




    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="../../js/worker/worker-detail.min.js"></script>
</body>
<script>
</script>
</html>