<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="助家生活">
    <meta name="keywords" content="助家生活">
    <title>工人详情</title>
    <link rel="stylesheet" href="/css/weui.min.css">
    <link rel="stylesheet" href="/css/worker/worker-detail.min.css">
    <link rel="stylesheet" href="/css/business-detail/dropload.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.0/css/swiper.min.css">
</head>
<style>
    .xingx-img{
        width: 14px;
        height:14px;
    }
</style>
<body>
<div class="contain" id="container">
    <div class="top-info">
        <a href="javascript:;" id="showSlide">
            <img src="" class="bus-img" alt="">
        </a>

        <div id="fade" class="black_overlay"></div>
        <div id="MyDiv" class="white_content">
            <!-- <div style="text-align: right; cursor: default; height: 40px;">
               <span style="font-size: 16px;" onclick="CloseDiv('MyDiv','fade')">关闭</span>
            </div> -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="http://aliimg.changba.com/cache/photo/159415743_640_640.jpg" class="swiper-img" alt=""></div>
                    <div class="swiper-slide"><img src="http://i3.dpfile.com/pc/7909158bfe590cdc6c13e65d7f747ecc%28700x700%29/thumb.jpg" class="swiper-img" alt=""></div>
                    <div class="swiper-slide">
                        <img src="http://i3.dpfile.com/pc/7909158bfe590cdc6c13e65d7f747ecc%28700x700%29/thumb.jpg" class="swiper-img" alt=""></div>
                    <div class="swiper-slide"><img src="http://aliimg.changba.com/cache/photo/159415743_640_640.jpg" class="swiper-img" alt=""></div>
                    <div class="swiper-slide"><img src="http://i3.dpfile.com/pc/7909158bfe590cdc6c13e65d7f747ecc%28700x700%29/thumb.jpg" class="swiper-img" alt=""></div>
                    <div class="swiper-slide">
                        <img src="http://i3.dpfile.com/pc/7909158bfe590cdc6c13e65d7f747ecc%28700x700%29/thumb.jpg" class="swiper-img" alt=""></div>
                </div>
            </div>
        </div>

        <div class="name-info">

            <div class="bus-name ">
                <span class="Name"></span>
                <span><img src="" class="Gender" value="" alt=""/></span>
                <span class="Age"></span>
            </div>

            <div class="top-ic">
                <img src="/images/worker/ic_dianzan.svg" alt="" class="dianzan">
                <span class="font-style"><span class="PraiseCount"></span></span>
                <img src="/images/worker/ic_shoucang.svg" alt="" class="dianzan">
                <span class="font-style"><span class="FavoriteCount"></span></span>
            </div>
            <div class="clear"></div>
        </div>
        <a class="worker-mes" href="">
            <div class="yewu">
                <div class="bus-work">
                    <span style="font-size: 14px; color: #3f3e48;" class="">小时工</span>
                    <span class="Wage"></span>
                    <!--<span style="font-size: 12px; color:#ec4836;">元/小时</span>-->
                    <span class="wk-list"></span>
                </div>

                <span style="float: right;" ><img src="/images/business-detail/jiantou.png" alt="" class="more"></span>
                <div class="clear"></div>
            </div>
        </a>
        <div class="bus-add">
            <div class="address">
                <span class="NativePlace"></span>
                <span style="padding-left: 6px;" class="WorkingYears"></span>
                <!--<span class="bus-jl"><span class="jl-num"></span></span>-->
            </div>
            <div class="bus-jl">距离<span class="jl-num"></span></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="score">
        <ul>
            <li>
                <div class="li-center">
                    <img src="/images/worker/ic_dingdan.svg" class="score-img" alt="">
                    <div class="score-one">
                        <span class="data-top"><span class="OrderCount"></span></span>
                        <img src="/images/worker/ic_shuzhuangtiao.svg" alt="" class="shuzhuangtiao"><span class="OrderRank"></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="li-center">
                    <img src="/images/worker/ic_tonghua.svg" class="score-img" alt="">
                    <div class="score-one">
                        <span class="data-top"><span class="PhoneCount"></span></span>
                        <span><img src="/images/worker/ic_shuzhuangtiao.svg" alt="" class="shuzhuangtiao"><span class="PhoneRank"></span></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="li-center">
                    <img src="/images/worker/ic_pingfen.svg" class="score-img" alt="">
                    <div class="score-one">
                        <span class="data-top"><span class="Grade"></span></span>
                        <span><img src="/images/worker/ic_shuzhuangtiao.svg" alt="" class="shuzhuangtiao"><span class="GradeRank"></span></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--工人标签-->
    <div class="worker-tag">
        <div class="worker-tag-box"></div>
        <a href="" class="a-tag">
            <p class="font-alltag">全部标签<span class="tab-num"></span>
                <img src="/images/business-detail/blue-arrows.png" alt="" class="blue-jiantou">
            </p>
        </a>


    </div>
    <hr class="line">
    <!-- 认证信息	 -->
    <a href="javascript:;" id="showDialog2">
        <div class="rz-info">
            <span class="rz-title">认证信息</span>
            <div class="rz-imgs">

            </div>

            <img style="float: right; " src="/images/business-detail/jiantou.png" alt="" class="more">
        </div>
    </a>
    <div class="weui_dialog_confirm" id="dialog2" style="display: none;">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd">认证详情
                <a href="javascript:;" class="weui_btn_dialog default"><img src="/images/worker/ic_guanbi.svg" class="rz-close" alt=""></a>
            </div>
            <div class="weui_dialog_bd">
                <ul class="dialog-imgs"></ul>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <!-- 活动内容 -->
    <div class="ac_cont">

        <div class="ac_detail">
            <img src="../../images/worker/ac_bg.png" class="exercise" alt=""/>
            <span class="youhui_info">满90减10</span>
        </div>
        <div class="ac_detail">
            <img src="../../images/worker/ac_bg.png" class="exercise" alt=""/>
            <span class="youhui_info">满90减10</span>
        </div>
        <a href="javascript:;">
            <div class="ac_right">
                <img src="../../images/worker/button@2x.png" class="exercise-one" alt=""/>
            </div>
        </a>
        <div class="clear"></div>
    </div>

    <!--<hr class="line">-->
    <a href="javascript:;" id="showDialog9">
        <div class="rz-infof">
            <span class="rz-titles">客户评价</span>
            <!--<div class="bus-img"></div>-->
            <span><img src="" alt=""/></span>

        </div>
    </a>
    <!--客户无评价-->
    <div class="kuhupingjia" style="margin-top: 30px; display: none; ">
    <div  style="margin: 0 auto; " class="shafa no-fuwu">
    <img src="../../images/worker/shafa.png" class=" weui_media_appmsg_thumb no-fuwu-img" alt=""/>
        <p class="shafa-font">沙发没人做,赶紧去抢吧</p>
    </div>
    <div class="kehu-list"></div>
    </div>
<div class="client-pl">

</div>
    <!--&lt;!&ndash;客户评论&ndash;&gt;-->
    <!--<div id="tab-kehu" >-->
        <!--<div class="no-fuwu" style="display:none;">-->
            <!--<img class="weui_media_appmsg_thumb no-fuwu-img" src="/images/worker/shafa.png" alt="">-->
            <!--<p class="no-fuwu-nocice">沙发还没人做，赶紧去抢吧</p>-->
        <!--</div>-->
        <!--<div class="kehu-list"></div>-->
    <!--</div>-->
    <!--<div class="client-pl">-->

    <!--</div>-->

    <!-- 底部导航条 -->
    <div class=" navigation">
        <a href="javascript:;" class="weui_tabbar_item weui_bar_item_on" id="quick-order">
            <div class="weui_tabbar_icon bottom-ico" >
                <img src="/images/worker/ic_zhijiezhifu_nor.svg" alt="">
            </div>
        </a>
        <a href="javascript:;" class="weui_tabbar_item" id="point-order">
            <div class="weui_tabbar_icon bottom-ico">
                <img src="/images/worker/ic_order_nor.svg" alt="">
            </div>
        </a>
        <a href="" class="weui_tabbar_item phoneNo ">
            <div class="weui_tabbar_icon bottom-ico" style="border: none;">
                <img src="/images/worker/ic_phone_nor.svg"  class="dianhua-img" alt="">
            </div>
        </a>
    </div>
</div>
<script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="/js/business-detail//dropload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.0/js/swiper.min.js"></script>
<!-- <script src="/js/worker/worker-detail.min.js"></script> -->
<script>
    $(function(){
        var Type=getUrl('type');
        var Id=getUrl('markid');
        $("#quick-order").on("click",function(){
            window.location.href = "/template/quick-order/quick-order.html?channel=1";
        })
        $("#point-order").on("click",function(){
            window.location.href = "/template/point-order/point-order.html?channel=0&type="+Type+"&markid="+Id;
        })
    })
</script>
</body>
<!--<script>-->
    <!--$(function(){-->
        <!--var swiper = new Swiper('.swiper-container', {-->
            <!--//pagination: '.swiper-pagination',-->
            <!--initialSlide:0,-->
            <!--slidesPerView: 3,-->
            <!--paginationClickable: true,-->
            <!--spaceBetween: 0,-->
            <!--touchRatio:1,-->
            <!--observer:true,//修改swiper自己或子元素时，自动初始化swiper-->
            <!--observeParents:true//修改swiper的父元素时，自动初始化swiper-->
        <!--});-->

        <!--// 轮播图弹出层-->
        <!--$('#container').on('click', '#showDialog1', function () {-->
            <!--$('#dialog1').show().on('click', '.weui_btn_dialog', function () {-->
                <!--$('#dialog1').off('click').hide();-->
            <!--});-->
        <!--});-->

        <!--// 认证信息弹出层-->
        <!--$('#container').on('click', '#showDialog2', function () {-->
            <!--$('#dialog2').show().on('click', '.weui_btn_dialog', function () {-->
                <!--$('#dialog2').off('click').hide();-->
            <!--});-->
        <!--});-->

<!--// 轮播图弹出效果-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
        <!--//弹出隐藏层-->
        <!--$("#showSlide").click(function(){-->
            <!--ShowDiv('MyDiv','fade');-->
        <!--});-->
        <!--$(".black_overlay").click(function(){-->
            <!--CloseDiv('MyDiv','fade');-->
        <!--});-->

        <!--// 加载页面其他数据-->
        <!--var Type=getUrl('type');-->
        <!--var Id=getUrl('markid');-->
        <!--$.ajax({-->
            <!--type: 'POST',-->
            <!--url: 'http://192.168.1.191:3001/api/v2/Provider/Detail',-->
            <!--dataType: 'json',-->
            <!--data:{-->
                <!--Type:Type,-->
                <!--Id:Id-->
            <!--},-->
            <!--success:function(data){-->
                <!--var api = data.Body.Worker;-->
                <!--$(".bus-img").attr("src",api.Photo);-->
                <!--$(".Gender").attr("src",api.Gender);-->
                <!--$(".Name").text(api.Name);-->
                <!--$(".Age").text(api.Age);-->
                <!--$(".jl-num").text(api.Distance);-->
                <!--$(".PraiseCount").text(api.PraiseCount);-->
                <!--$(".Grade").text(api.Grade);-->
                <!--$(".phoneNo").attr("href","tel:"+api.PhoneNumber);-->
                <!--$(".FavoriteCount").text(api.FavoriteCount);-->
                <!--$(".Wage").text(api.Wage);-->
                <!--$(".NativePlace").text(api.NativePlace);-->
                <!--$(".WorkingYears").text(api.WorkingYears);-->
                <!--$(".addresss").text(api.Address);-->
                <!--$(".Distance").text(api.Distance);-->
                <!--$(".OrderCount").text(api.OrderCount);-->
                <!--$(".OrderRank").text(api.OrderRank);-->
                <!--$(".PhoneCount").text(api.PhoneCount);-->
                <!--$(".PhoneRank").text(api.PhoneRank);-->
                <!--$(".GradeRank").text(api.GradeRank);-->
                <!--$(".worker-mes").attr("href","worker-message.html?type="+Type+"&markid="+Id);-->
                <!--$(".a-tag").attr("href","worker-tags.html?markid="+Id);-->
                <!--if(api.Gender=="1"){-->
                    <!--$(".Gender").attr("src","../../images/worker/ic_nv.svg");-->
                <!--}else{-->
                    <!--$(".Gender").attr("src","../../images/worker/ic_nan.svg");-->

                <!--}-->

                 <!--var RzImgs="";-->
                 <!--for (var i =0; i < api.SystemCertification.length; i++) {-->
                     <!--RzImgs+='<img src="'+api.SystemCertification[i].Image+'" class="rz-dia-img" alt="">';-->

                 <!--}-->
                 <!--$(".rz-imgs").html(RzImgs);-->

                 <!--var ModelRzImgs="";-->
                 <!--for (var j = 0; j < api.SystemCertification.length; j++) {-->
                     <!--ModelRzImgs+='<li><img src="'+api.SystemCertification[j].Image+'" class="rz-dia-img" alt=""><span class="rz-name">'+api.SystemCertification[j].Name+'</span></li>';-->
                 <!--}-->
                 <!--$(".dialog-imgs").html(ModelRzImgs);-->


            <!--},-->
            <!--error: function(xhr, type){-->
                <!--alert('Ajax error!');-->
                <!--// 即使加载出错，也得重置-->
                <!--me.resetload();-->
            <!--}-->
        <!--});-->
        <!--// 加载商户头像列表-->

        <!--$.ajax({-->
            <!--type: 'POST',-->
            <!--url: 'http://192.168.1.191:3001/api/v2/Provider/Avatar',-->
            <!--dataType: 'json',-->
            <!--data:{-->
                <!--Type:Type,-->
                <!--Id:Id-->
            <!--},-->
            <!--success:function(data){-->
                <!--var imgs_api=data.Body.Avatars;-->
                <!--var imgs_res="";-->
                <!--for (var i = 0; i <imgs_api.length; i++) {-->
                    <!--imgs_res+='<div class="swiper-slide"><img src="'+imgs_api[i]+'" class="swiper-img" alt=""></div>';-->
                <!--}-->
                <!--$(".swiper-wrapper").html(imgs_res);-->


            <!--},-->
            <!--error: function(xhr, type){-->
                <!--alert('Ajax error!');-->
                <!--// 即使加载出错，也得重置-->
                <!--me.resetload();-->
            <!--}-->
        <!--});-->
        <!--//获取工人标签-->
        <!--$.ajax({-->
            <!--type: 'POST',-->
            <!--url: 'http://192.168.1.191:3001/api/v2/Worker/GetWorkerTags',-->
            <!--dataType: 'json',-->
            <!--data:{-->
                <!--WorkerId:Id-->
            <!--},-->
            <!--success:function(data){-->
                <!--var api=data.Body.TagList;-->
                <!--var res="";-->
                <!--for (var i = 0; i < api.length; i++) {-->
                    <!--res+="<span class='Tag TagName'>"+api[i].TagName+"</span>";-->
                <!--}-->
                <!--if(api.length==0){-->
                    <!--$(".worker-tag").css("display","none");-->
                <!--}-->

                <!--$(".tab-num").text(api.length);-->
                <!--$(".worker-tag-box").html(res);-->

            <!--},-->
            <!--error: function(xhr, type){-->
                <!--alert('Ajax error!');-->
                <!--// 即使加载出错，也得重置-->
                <!--me.resetload();-->
            <!--}-->
        <!--});-->



    <!--});-->
    <!--//   客户评论列表-->
    <!--var Type=getUrl('type');-->
    <!--var Id=getUrl('markid');-->
    <!--var counter2 = 0;-->
    <!--var num2 = 5;// 每页展示5个-->
    <!--var pageStart2 = 0,pageEnd2 = 0;-->
    <!--$('.kuhupingjia').dropload({-->
        <!--scrollArea : window,-->
        <!--loadDownFn : function(me){-->
            <!--$.ajax({-->
                <!--type: 'POST',-->
                <!--url: 'http://192.168.1.191:3003/api/v2/Evaluation/GetWorkerEvaluationList',-->
                <!--dataType: 'json',-->
                <!--data:{-->
                    <!--ID:"1162"-->
                <!--},-->
                <!--success: function(data) {-->
                    <!--if (data.Body == null) {-->
                        <!--$(".kuhupingjia").css("display", "block");-->
                    <!--}-->
                    <!--var api = data.Body.EvaluationList;-->
                    <!--var result = '';-->
<!--//                    if (data.Body) {-->
<!--//                         var result = '';-->
<!--//                         counter2++;-->
<!--//                         pageEnd2 = num2 * counter2;-->
<!--//                         pageStart2 = pageEnd2 - num2;-->
                        <!--for (var i = 0; i < api.length; i++) {-->
                            <!--var res_xin = '';-->
                            <!--if (api[i].Score == 0) {-->
                                <!--for (var m = 0; m <= 5; m++) {-->
                                    <!--res_xin += '<img src="../../images/worker/ic_xin_nor.svg"  class="xingx-img" alt=""/>';-->
                                <!--}-->
                            <!--} else if (api[i].Score == 5) {-->
                                <!--for (var k = 0; k <= 5; m++) {-->
                                    <!--res_xin += '<img src="../../images/worker/ic_xin_sel.svg"  class="xingx-img" alt=""/>';-->
                                <!--}-->
                            <!--} else {-->
                                <!--var x = 5 - api[i].Score;-->
                                <!--for (var n = 0; n <= api[i].Score; n++) {-->
                                    <!--res_xin += '<img src="../../images/worker/ic_xin_sel.svg"  class="xingx-img" alt=""/>';-->
                                <!--}-->
                                <!--for (var j = 1; j <= x; j++) {-->
                                    <!--res_xin += '<img src="../../images/worker/ic_xin_nor.svg"  class="xingx-img" alt=""/>';-->
                                <!--}-->
                            <!--}-->

                            <!--result += '<div class="pl-item"><div class="fl"><img style="width: 28px; height: 28px; vertical-align: middle;" src="'-->
                                    <!--+ api[i].Pictures[0].SmallPic + '" class="touxiang-img" alt=""/><span class="client-name">' + api[i].ClientName + '</span><span class="pl-date">'-->
                                    <!--+ api[i].Date + '</span></div><div class="fr"><span class="xinxin">' + res_xin + '</span><span class="pl-score">'-->
                                    <!--+ api[i].Score + '</span></div><div class="clear"></div><div class="pl-cont">' + api[i].Content + '</div></div>';-->

                        <!--}-->
                        <!--$('.client-pl').html(result);-->
<!--//                    }-->
                    <!--},-->
                    <!--error: function (xhr, type) {-->
                        <!--alert('Ajax error!');-->
                        <!--// 即使加载出错，也得重置-->
                        <!--me.resetload();-->

                    <!--}-->

            <!--});-->

        <!--}-->
    <!--});-->
    <!--function ShowDiv(show_div,bg_div){-->
        <!--document.getElementById(show_div).style.display='block';-->
        <!--document.getElementById(bg_div).style.display='block' ;-->
        <!--var bgdiv = document.getElementById(bg_div);-->
        <!--bgdiv.style.width = document.body.scrollWidth;-->
        <!--// bgdiv.style.height = $(document).height();-->
        <!--$("#"+bg_div).height($(document).height());-->
    <!--};-->


    <!--//关闭弹出层-->
    <!--function CloseDiv(show_div,bg_div)-->
    <!--{-->
        <!--$('#'+show_div).hide();-->
        <!--$('#'+bg_div).hide();-->
    <!--};-->

    <!--// 获取地址传参-->
    <!--function getUrl(name)-->
    <!--{-->
        <!--var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象-->
        <!--var r = window.location.search.substr(1).match(reg);  //匹配目标参数-->
        <!--if (r!=null) return unescape(r[2]); return null; //返回参数值-->
    <!--}-->

<!--</script>-->
</html>

