<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- 为移动设备添加 viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
  <!--禁止电话，邮件识别-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="助家生活">
    <meta name="keywords" content="助家生活">
    <meta name="author" content="zxh">
    <title>洗衣</title>
    <link rel="stylesheet" href="/css/login/login-naicha.min.css">
</head>
<body style="background: url(/images/login/login-naicha/bg-xiyi.png)">
  <div class="header"><img src="/images/login/login-naicha/top-xiyi.png" alt=""></div>
  <div class="login-box">  
    <form id="" action="" method="">
      <div class="fill-phone">
        <input id="phoneNum" type="text" name="phoneNumber" placeholder="请输入手机号" maxlength="11" class="login-phone"/>
        <input type="button" id="getCode" class="ver-code" value="获取验证码">
        <div class="clear"></div>
        <div id="errorMess" class="error-mess" style="display:none"></div>
      </div>  
      <input style="display:none" id="codeNum" type="number" class="fill-vercode" placeholder="请填写验证码"/>
      <input id="pwdNum" type="password" style="display:none" class="fill-pwd" placeholder="请填写密码"/>

      <div style="display:none" id="loginBtn" class="login-get"></div>
      <div style="display:none" id="regisBtn" class="login-get"></div>
    </form>  
  </div>

  <p class="law">助家生活保留法律范围内允许的对活动的解释权</p>
  <br>
  <script src="/js/common/config.min.js"></script>
  <script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"> </script>
  <script src="/js/login/login-naicha-new.min.js"></script>
</body>
</html>