<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>情人节鲜花优惠</title>
    <link rel="stylesheet" href="/css/activity/activity.min.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
</head>
<body>
	<div class="contain">
        <img src="/images/activity/1_01.jpg" alt="" class="lb_items" typeid="782" typename="9朵红玫瑰118元">
        <img src="/images/activity/1_02.jpg" alt="" class="f_left w50 lb_items" typeid="783" typename="11朵红玫瑰148元">
        <img src="/images/activity/1_03.jpg" alt="" class="f_left w50 lb_items" typeid="784" typename="11朵混色玫瑰148元">
        <img src="/images/activity/1_04.jpg" alt="" class="f_left mgtop-1" >
        <img src="/images/activity/1_05.jpg" alt="" style="width:47.6%" class="f_left mgtop-1 lb_items" typeid="785" typename="19朵粉玫瑰198元">
        <img src="/images/activity/1_06.jpg" alt="" style="width:52.4%" class="f_left mgtop-1 lb_items" typeid="786" typename="19朵双色玫瑰198元">
        <img src="/images/activity/1_07.jpg" alt="" style="width:52.4%" class="f_left mgtop-1 lb_items" typeid="787" typename="19朵红玫瑰198元">
        <img src="/images/activity/1_08.jpg" alt="" style="width:52.4%" class="f_left lb_items" typeid="793" typename="19朵混色玫瑰198元">
        <img src="/images/activity/1_09.jpg" alt="" class="f_left mgtop-1">
        <img src="/images/activity/1_10.jpg" alt="" class="f_left mgtop-1 lb_items" typeid="788" typename="33朵混色玫瑰248元">
        <img src="/images/activity/1_11.jpg" alt="" style="width:38.8%" class="f_left mgtop-1 lb_items" typeid="789" typename="33朵红玫瑰248元">
        <img src="/images/activity/1_12.jpg" alt="" style="width:23%" class="f_left mgtop-1 lb_items" typeid="790" typename="33朵红玫瑰248元">
        <img src="/images/activity/1_13.jpg" alt="" style="width:38.2%" class="f_left mgtop-1 lb_items" typeid="791" typename="33朵黄玫瑰238元">
        <img src="/images/activity/1_14.jpg" alt="" style="margin-top:-2px;" class="f_left">
        <img src="/images/activity/1_15.jpg" alt="" class="lb_items" typeid="792" typename="99朵红玫瑰520元">
        <img src="/images/activity/1_16.jpg" alt="">
        <div class="info">
            <img src="/images/activity/1_17.jpg" alt="" class="mgtop-1 f_left">
            <div class="info-list">
                <div class="item score"><span class="title">送花日期：</span><span class="content">(我们将按您写的日期送花)</span></div>
                <div class="item score"><span class="title">我的电话：</span><span class="content">13145205200</span></div>
                <div class="item score"><span class="content">（为准时送达收花人手里，请务必留下您的联系</span></div>
                <div class="item score"><span class="content">方式，以便配送过程中出现问题及时与您沟通）</span></div>
                <div class="item score"><span class="title">贺卡留言：</span><span class="content">（没备注将不赠送贺卡）</span></div>
                <div class="item score"><span class="title">贺卡落款：</span><span class="content">（这个落款是给收花人的，如匿名</span></div>
                <div class="item score"><span class="content" style="padding-left: 0.8rem;">可不用填写）</span></div>
            </div>
        </div>
        

	</div>
</body>
</html>
<script>
$(function(){
    $(".lb_items").each(function(){
        $(this).click(function(){
            window.location.href = "/template/login/login-0214.html?type=1&markid=5651&state=6sqb";
        })
    })   
})

</script>