<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="助家生活">
    <meta name="keywords" content="助家生活">
    <title>活动</title>
    <link rel="stylesheet" href="/css/activity/activity.min.css">
    <script type="text/javascript" src="/js/activity/flexible.min.js"></script>
	<script type="text/javascript" src="/js/activity/flexible_css.min.js"></script>
</head>
<body>
	<div class="contain">
		<div class="logo"><img src="/images/activity/logo.png" alt=""></div>
		<div class="top_title"><img src="/images/activity/top_title.png" alt=""></div>
		<div class="ad"><img src="/images/activity/baojie.png" alt=""></div>
        <a href="activity_list.html">
		  <div class="btn_detail"><img src="/images/activity/btn_detail.png" alt=""></div>
        </a>
	</div>
</body>
</html>