<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="助家生活">
    <meta name="keywords" content="助家生活">
    <title>下载</title>
    <link rel="stylesheet" href="/css/activity/activity.min.css">
    <script type="text/javascript" src="/js/activity/flexible.min.js"></script>
	<script type="text/javascript" src="/js/activity/flexible_css.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/activity/activity.min.js"></script>
</head>
<body>
	<div class="contain">
		<img src="/images/activity/page_download.png" alt="">
        <div class="double_btn">
            <a href="javascript:;">
                <img src="/images/activity/btn_android.png" alt="" class="btn_down">
            </a>
        </div>
        <div id="weixin-tip">
            <p>
                <img id="weixin-tip-img" src="/images/activity/download_popup.png" alt="">
            </p>
        </div>      
	</div>
</body>
</html>