<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="助家生活">
    <meta name="keywords" content="助家生活">
    <title>助家生活-下载</title>
    <link rel="stylesheet" href="/css/activity/activity.min.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/activity/flexible.min.js"></script>
    <script type="text/javascript" src="/js/activity/flexible_css.min.js"></script>
    <script type="text/javascript" src="/js/activity/browser.min.js"></script>
</head>
<body style="background: #9d3ddc;">
	<div class="contain">
		<img src="/images/activity/page_download.png" alt="">
        <div class="double_btn"></div>
        <div id="weixin-tip">
            <p>
                <img id="weixin-tip-img" src="/images/activity/download_popup.png" alt="">
            </p>
        </div>      
	</div>
</body>
</html>
<script>
$(function(){
$(function(){
    //下载页判断设备
    if(/(micromessenger)/i.test(navigator.userAgent)){
        $("#weixin-tip").show();
        $(".double_btn").click(function(){
            $("#weixin-tip").show();
        });
        $("#weixin-tip").click(function(){
            $("#weixin-tip").hide();
        });
    }

    if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)){  

        $(".double_btn").html('<a href="https://itunes.apple.com/cn/app/id1066586831?mt=8"><img src="/images/activity/btn_down.png" alt="" class="btn_down"></a>');
        window.location.href="https://itunes.apple.com/cn/app/id1066586831?mt=8";
    }else{
        $(".double_btn").html('<a href="http://copen.zhujiash.com/Download/android_client.apk"><img src="/images/activity/btn_down.png" alt="" class="btn_down"></a>');
        window.location.href="http://copen.zhujiash.com/Download/android_client.apk";
    }  

    $(".double_btn").click(function(){
        if(/(micromessenger)/i.test(navigator.userAgent)){
            $("#weixin-tip").show();
            $(".btn_down").click(function(){
                $("#weixin-tip").show();
            });
            $("#weixin-tip").click(function(){
                $("#weixin-tip").hide();
            });
        }
    });


})    
})
</script>