*{ margin:0; padding:0; list-style:none;}
body{ font-size:14px;}
div,li,a{ -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.clear{ clear: both; height: 0; line-height: 0; font-size: 0; }
/*---*/
.order-detail{ width: 100%; margin: 0 auto; background: #f8f8f8; }
.order-detail .order-status{ height: 148px; width: 100%; text-align: center; background: #eefaff no-repeat center 10px; background-size: 65% 50%; }
.order-detail .order-status .status{ color: #3fbef9; font-size: 18px; padding-top: 86px; }
.order-detail .process{ width: 100%; height: 42.5px; display: flex; display: -webkit-flex; display: box; display: -webkit-box; display: -moz-box; display: -ms-flexbox; background: #fff; border-top: 1px solid #3fbef9; margin-bottom: 13px; border-bottom: 1px #ccc solid; }
.order-detail .process .process-status{ flex: 1; -webkit-box-flex: 1; -webkit-flex: 1; -moz-box-flex: 1; -ms-flex: 1; text-align: center; line-height: 20px; font-size: 14px; }
.order-detail .explanation{ color: #666; font-size: 12px; margin: 0 auto; width: 200px; }

.order-detail .weui_cell .zj-remark{ color: #3fbef9; background: url(../../images/order-detail/add.png) no-repeat; height: 21px; background-size: 21px 21px; padding-left: 25px; line-height: 21px; }
.order-detail .weui_cells .remark{ margin-left: 10px; margin-bottom: 12px; }
.order-detail .weui_cells .remark li{ font-size: 13px; color: #999; }
.order-detail .weui_cell .zj-show-pic{ width: 74px; height: 74px; border-radius: 6.5px; margin-right: 6px; margin-left: 12px; margin-top: 10.5px; margin-bottom: 10.5px; background: center center no-repeat; background-size: cover; float: left; }
/*.order-detail .weui_cell .zj-show-lastpic{ width: 74px; height: 74px; border-radius: 6.5px; margin-top: 10.5px; margin-bottom: 10.5px; background: center center no-repeat; background-size: cover; float: left; }*/
.order-detail .zj-mark{ padding-bottom: 8px; }
.order-detail .remark-box{ border: 0; outline: 0; }

.order-detail .zj-cell-border:before{ border-top: 1px solid #ccc; transform: scaleY(1); }
.order-detail .zj-cell-border:after{ border-bottom: 1px solid #ccc; transform: scaleY(1); }
.order-detail .zj-cells:before{ left: 10px; }
.order-detail .zj-cells:after{ border-bottom: 0; }
.order-detail .filling{ height: 12.5px; width: 100%; background: #f8f8f8;}
.order-detail .zj-panel{ margin-top: 0px; font-size: 13px; }
.order-detail .zj-titlewords{ font-size: 15px; color: #333; }
.order-detail .zj-fontsize{ font-size: 14px; }
.order-detail .zj-worker-pic{ padding: 10px 0px 13px 0px; }

.order-detail .head-pic{ width: 28px; height: 28px; border-radius: 50%; margin-top: 1.5px; }
.order-detail .worker-call{ display: inline-block; position: relative; top: -9px; left: 5px; color: #333; }
.order-detail .zj-arrow{ background: url(../../images/order-detail/arrow.png) no-repeat; height: 18px; width: 11px; display: inline-block; position: relative; top: -5px; left: 17px; }
.order-detail .zj-cell-left{ color: #333; }
.order-detail .zj-cell-right{ color: #666; }
.order-detail .contact{ border-left: 1px #cccccc solid; height: 27px; width: 36.5px; padding-left: 5px; background: url(../../images/order-detail/phone.png) no-repeat 12px 1px; background-size: 26px 26px; }
.order-detail .zj-worker{ padding-bottom: 4px; padding-top: 9px; }

.order-detail .money{ float: right; color: #666; }
.order-detail .multiple{ font-size: 14px; color: #999; margin-left: 26px; }
.order-detail .actual{ color: #ff5000; font-size: 18px; }
.order-detail .spacing{ margin-bottom: 12px; color: #333; }
/*.order-detail .zj-pay:before{ border-top: 0; }*/
.order-detail .zj-pay{ padding-bottom: 10px; border-bottom: 1px #ccc solid; }
.order-detail .zj-pay:before{ left: 10px; }

.order-detail .refund{ display: inline-block; }
.order-detail .refund-complete{ color: #ff5000; float: right; }
.order-detail .refund-money{ margin-left: 60px; color: #666; float: right; }
.order-detail .refund-sum{ float: right; }
.order-detail .refund-lost{ float: right; }
.order-detail .refund-disc{ float: right; }
.order-detail .refund-line{ margin-top: 12px; }
.order-detail .refund-list{ float: right; }
.order-detail .contacts{ margin-bottom: 11px; }
.order-detail .order-time{ margin-bottom: 11px; }

/*--弹窗输入样式--*/
.order-detail .memo-text{ width: 100%; outline: none; }

/*--正在进行的文字样式--*/
.processing{ color: #3fbef9; }

/*--订单已取消--*/
.round{ width: 11px; height: 11px; border-radius: 50%; position: relative; top: -6px; left: 50%; }
.round-complete{ background: #3fbef9; }
.round-processing{ background: #3fbef9; width: 7px; height: 7px; border: 2px solid #88d7fc; }
.round-undone{ background: #fff; width: 9px; height: 9px; border: 1px solid #88d7fc; }

/*--最下面按钮状态--*/
.order-detail .delete-order{ width: 100%; height: 48.5px; border-top: 1px solid #ccc; background: #fff; margin-top: 8.5px; }
.order-detail .delete-btn{ color: #333; border: 1px #999 solid; font-size: 13px; border-radius: 3px; }
.order-detail .pay-btn{ border: 1px #ff5000 solid; color: #ff5000; font-size: 13px; border-radius: 3px; }
.order-detail .confirm-btn{ border: 1px #3fbef9 solid; color: #3fbef9; font-size: 13px; border-radius: 3px; }
.order-detail .left-btn{ width: 85px; height: 29px; line-height: 30px; text-align: center; display: inline-block; position: relative; left: 174px; top: 8.5px; }
.order-detail .right-btn{ width: 85px; height: 29px; line-height: 30px; text-align: center; display: inline-block; position: relative; left: 277px; top: 8.5px; }
.order-detail .left-btnfr{ width: 85px; height: 29px; line-height: 30px; text-align: center; float: right; margin-top: 8.5px; margin-right: 14px; }
.order-detail .right-btnfr{ width: 85px; height: 29px; line-height: 30px; text-align: center; float: right; margin-top: 8.5px; margin-right: 10px; }

/*--弹出框样式--*/
.order-detail .weui_dialog_confirm .zj-align{ text-align: center; }
.order-detail .zj-bluecol{ color: #0687ff; }
.weui_dialog_alert .zj-alert-word{ font-size: 14px; color: #333; }
.weui_dialog_confirm .zj-confirm-word{ font-size: 14px; color: #333; }

/*--待接单，点击支付--*/
.zj-prompt{ width: 180px; height: 54px; color: white; opacity: 0; background: rgba(0,0,0,0.5); text-align: center; border-radius: 9px; font-size: 15px; position: absolute; top: 348px; left: 50%; margin-left: -90px; }
.zj-prompt .prompt-news{ margin: 10px 13px 0; line-height: 1.2; }
.prompt-animation
{ 
  animation: prompts 3s;
  -moz-animation: prompts 3s;
  -webkit-animation: prompts 3s;
  -o-animation: prompts 3s;
}
@keyframes prompts
{
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes prompts
{
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes prompts
{
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes prompts
{
  0% { opacity: 1; }
  100% { opacity: 0; }
}