<!DOCTYPE html>
<html lang="en" ng-app="com.wapapp.app">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0;">
    <!--禁止电话，邮件识别-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="助家生活">
    <meta name="keywords" content="助家生活">
    <meta name="author" content="zxh">
    <title>商户信息</title>
    <link rel="stylesheet" href="../../css/weui.min.css">
    <link rel="stylesheet" href="../../css/business-detail/business-message.min.css">
</head>

<body>
<section class="main">
    <div class="card position_infor">
        <div class="position cle">
            <span class="title">商户号</span>
            <span class="Number"></span>
        </div>
        <div class="position_comment cle">
            <div class="fl">
                <span class="title">成立时间</span>
                <span class="region right-cont"></span>
            </div>
            <div class="worder-experience fr">
                <span class="title">商户性质</span>
                <span class="Property right-cont"></span>
            </div>
        </div>
        <div class="position_comment cle">
            <div class="fl">
                <span class="title">营业面积</span>
                <span class="Area right-cont"></span>
            </div>
            <div class="worder-interest fr">
                <span class="title">员工人数</span>
                <span class="StaffNumber right-cont"></span>
            </div>
        </div>
        <div class="position_comment cle">
            <div class="fl">
                <span class="title">经营规模</span>
                <span class="Scale right-cont"></span>
            </div>     
        </div>
        <div class="idiograph cle">
            <div class="position cle">
                <span class="title">个人签名</span>
                <span class="Signature"></span>
            </div>
        </div>
    </div>

    <div class="line"></div>

    <div  class="model2">               
        <div class="ser-time">
            <span class="title">服务时间</span>
            <span class="ServiceTime right-cont"></span>
        </div>
        <div class="idiograph cle">
            <div class="position cle">
                <span class="title">居住地址</span>
                <span class="Address "></span>
            </div>
            <div class="idiograph cle">
                <div class="fuwu-fanwei">
                    <span class="title">服务范围</span>
                    <span class="ServiceScope"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="line"></div>
    
    <div class="bus-itro">
        <span class="title">商户介绍</span>
        <span class="Intro"></span>
        <div class="clear"></div>
    </div>



    <div class="line"></div>

    <div class="sys-rz">
        <span class="title">系统认证</span>
        <div class="clear"></div>
        <ul class="items"></ul>
    </div>

</section>
<script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="../../js/business-detail/business-message.min.js"></script>

</body>
<script>
</script>
</html>