@charset "utf-8";
body{
    margin:0;
    font-size: 17px;
    font-family:"Times New Roman",Georgia,Serif;
}
ol,ul{
    list-style:none
}
p{
    margin: 0;
    padding: 0;
}
.fl{
    float: left;
    width:50%;
}
.fr{
    float: right;
}
.cle{
    zoom: 1;
    line-height: 1.6;
}
.cb{
    clear: both;
}
a{
    font-size: 12px;
    font-family: "PingFang SC Regular" , "Æ»·½-¼ò" , "Helvetica Neue" , Helvetica , STHeiTi,sans-serif;
    color: black;
}
.clear{clear: both;}
.card {
    background-color: #fff;
    padding:10px;
    border-bottom:1px solid #e4e4e4;

}
.Number{
    float: left;
    line-height: 22px;
    height: 47px;
}
.position{
    clear: both;
    overflow: hidden;
}
.position_infor .position p {
    float: left;
    /*margin-right: 14px;*/
    font-size: 12px;
    line-height: 12px;
    color: #333;
    font-weight: bold;

}

.worder-experience,.worder-interest{
    width: 50%;
}
.time{
    padding-left: 7.5px;
}

.journey{
    padding-left: 10px;
}
.worder-constellation{
    padding-right: 60px;
}
.idiograph_box{
    overflow: hidden;
    padding-left: 10px;
    padding-bottom: 15px;
}
.position-place{
    padding-left: 10px;
}
.font-content{
    display: inline-block;
    overflow: hidden;
    width: 295px;
    margin: 0 auto;
    padding-left: 10px;
}
.model2{
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding:10px;
}
.line{
    height: 10px;
    background: #f7f6f6;
}
.sys-rz{
    border-top: 1px solid #e4e4e4;
    padding: 10px;
}
.title{
    float: left;
    color:#8a889c;
    width: 70px;
    text-overflow: ellipsis;
}
.sys-img{
    float: left;
    height: 15px;
    width:15px;
    margin-top: 6px;

}

.right-cont{
    width: 102px;
    height:45px;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-left: 5px;
}
.Address,.ServiceScope,.Intro{
    padding-left: 5px;
    display: inline-block;
    width: 275px;
}
.fuwu-fanwei,.ser-time,.liveadd{
    margin-top: 15px;
}
.bus-itro{
    padding:10px;
}
.items{
    width:100%;
    margin-top: 10px;
}
.items li{
    width:50%;
    margin-bottom: 10px;
    display: inline-block;
}
.rz-name{
    display: inline-block;
    margin-left: 5px;
    width: 120px;
    height: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Signature{
    display: inline-block;
    width: 277px;
    padding-left: 5px;
}
.ServiceTime{
    padding-left: 5px;
}


/*商户标签*/
.business-tag{
    padding: 10px;
    padding-top: 20px;
}
.tag-item{
    font-size: 16px;
    float: right;
    width: 76%;
    margin-top: -7px;
}
.tag-item li{
    display: inline-block;
    border:1px solid #e0dfe8;
    border-radius: 5px;
    padding:5px 10px;
    color:#6f6e76;
    margin-bottom: 8px;
    margin-right: 8px;
}