<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<title>适配方案</title>
	<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
	<!-- link和script的引用后缀要加上min -->
	<style>
		h1 {
			font-size: 40px;
		}
		div {
			font-size: 0.625rem;
		}
	</style>
</head>
<body>
	
	<h1>这是除了主页面外，模块页面的测试23456</h1>
		
	<div>这是除了</div>

	<div id="example-1">
		hello {{name}}
	</div>

<script src="//cdn.bootcss.com/vue/2.0.0-rc.3/vue.min.js"></script>
<script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script>
	var exampleData = {
		name : 'vues.js'
	}

	var exampleVM = new Vue({
		el: '#example-1',
		data: exampleData
	})
</script>
</body> 
</html>