<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- 为移动设备添加 viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
  <!--禁止电话，邮件识别-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="助家生活">
    <meta name="keywords" content="助家生活">
    <meta name="author" content="zxh">
  <title>订单详情</title>
  
  <!-- link和script的引用后缀要加上min -->
  <!-- <link type="text/css" rel="stylesheet" href="css/test.min.css"> -->
  <link href="../../css/weui.min.css" rel="stylesheet">
  <link href="../../css/order-detail/order-evaluate.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">
</head>
<body>
  <div class="main">
    <div class="provider-message">
      <img id="providerPic" class="provider-pic" src="" alt="">
      <!-- <div id="providerPic" class="provider-pic"></div> -->
      <div class="provider-status">
        <div class="provider"><span id="providerName"></span></div><br>
        <div class="zj-flower"><span id="grade"></span></div>
        <div class="zj-hand"><span id="praiseCount"></span></div>
        <div class="zj-star"><span id="favoriteCount"></span></div>
      </div>
      <div class="provider-detail"></div>
    </div>
<!--     <div class="weui_panel_bd">
      <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
        <div class="weui_media_hd">
          <img id="providerPic" class="provider-pic" src="" alt="">             
        </div>
        <div class="weui_media_bd">
          <h4 class="weui_media_title">
            <div class="provider">
              <span id="providerName"></span>
            </div>
          </h4>
          <p class="weui_media_desc">
           <div class="provider"><span id="providerName"></span></div>
           <div class="zj-flower"><span id="grade"></span></div>
           <div class="zj-hand"><span id="praiseCount"></span></div>
           <div class="zj-star"><span id="favoriteCount"></span></div>
           <div class="provider-detail"></div>
          </p>
        </div>
      </a>
    </div> -->
    <div class="weui_cells">
      <div class="weui_cell zj-marks">
        <div class="weui_cell_bd weui_cell_primary">
          <div>
            <span class="score-title">评分</span>
            <ul class="rate">
              <li><img class="love-rate" src="../../images/order-detail/darkLove.png"></li>
              <li><img class="love-rate" src="../../images/order-detail/darkLove.png"></li>
              <li><img class="love-rate" src="../../images/order-detail/darkLove.png"></li>
              <li><img class="love-rate" src="../../images/order-detail/darkLove.png"></li>
              <li><img class="love-rate" src="../../images/order-detail/darkLove.png"></li>
            </ul>
          </div>
        </div>
        <div class="weui_cell_ft"><span id="score">5</span>.0分</div>
      </div>
    </div>
    <form id="uploadForm" method="post" enctype="multipart/form-data">
      <div class="weui_cells weui_cells_form zj-eva">
        <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
            <textarea id="zj-textarea" class="weui_textarea" placeholder="再次输入我的评价" rows="3"></textarea>
          </div>
        </div>
        <div class="weui_cell zj-eva-pic">
          <div class="weui_cell_bd weui_cell_primary">
            <div class="weui_uploader">
              <div class="weui_uploader_bd">
                <ul id="preview" class="weui_uploader_files zj-preview">
                  <div class="clear"></div>
                </ul>
                <div class="weui_uploader_input_wrp zj-add-pic">
                  <input id="fileImage" class="weui_uploader_input" type="file" accept="image/*" multiple="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <a id="sendEva" href="" disabled="disabled">
      <div id="submitBtn" class="submit-eva">提交评价</div>
    </a>
  </div>
<script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="/js/common/jquery.cookie.min.js"></script>
<script src="//cdn.bootcss.com/vue/1.0.24/vue.min.js"></script>
<script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
<script src="../../js/order-detail/order-evaluate.min.js"></script>
</body>
</html>