<!DOCTYPE html>
<html lang="en" ng-app="com.wapapp.app">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- 为移动设备添加 viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
	<!--禁止电话，邮件识别-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="助家生活">
    <meta name="keywords" content="助家生活">
    <meta name="author" content="zxh">
	<title>确认订单</title>

	<link rel="stylesheet" href="/css/weui.min.css">
	<link rel="stylesheet" href="/css/quick-order/quick-order.min.css">
	<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
	</style>
</head>
<body ng-controller="orderCtrl">
<form name="form" novalidate="novalidate" style="overflow-x:hidden;" enctype="multipart/form-data">
	<!-- <div class="weui_cells">
		<div class="weui_cell">
			<p class="f14 fc8">可以联系客服直接电话下单哦
				<a class="pblue" href="tel:4008-262-056">4008-262-056</a>
			</p>
		</div>
	</div> -->
	<!-- 选择地址 begin -->
	<div class="weui_cells weui_cells_access zj_local_image" >
		<a href="javascript:;" class="weui_cell pb2" ng-click="vm.gotojudge()">
			<div class="weui_cell_hd">
				<img src="/images/quick-order/local.png" alt="" style="width:15px;margin-right:18px;display:block">
			</div>
			<div class="weui_cell_bd weui_cell_primary" ng-if="!vm.ServiceAddressId" ng-cloak>
				<p class="pblue">请选择服务地址</p>
			</div>
			<div class="weui_cell_bd weui_cell_primary" ng-if="vm.ServiceAddressId" ng-cloak>
				<div class="zj_cell_hd">
					<span class="f12" ng-bind="addr.Contact"></span>
					<span ng-if="addr.Gender == 0" ng-cloak>男士</span>
					<span ng-if="addr.Gender == 1" ng-cloak>女士</span>
					<span class="pl20" ng-bind="addr.PhoneNumber"></span>
				</div>
				<div class="zj_cell_bd">
					<p class="f14 fc8">
						<span ng-bind="addr.Address2"></span>
						<span ng-bind="addr.Address1"></span>
					</p>
				</div>
			</div>
			<div class="weui_cell_ft"></div>
		</a>
		<img class="col100" src="/images/quick-order/local-border.png" alt="">
	</div> 
	<!-- 选择地址 end -->
	<!-- 服务类型&服务数量&服务时间 begin-->
	<div class="weui_cells weui_cells_access">
		<!-- <a href="javascript:;" class="weui_cell" ng-click="vm.serviceShow = true">
			<div class="weui_cell_hd">
				<img src="/images/quick-order/i-type.png" alt="" style="width:20px;margin-right:10px;display:block">	
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<p>服务类型</p>
			</div>
			<div class="zj_cell_ft" ng-if="vm.ServiceTypeId && vm.IsNegotiable == '0'" ng-cloak>
				<div class="tr" ng-bind="sv.name"></div>
				<span>¥</span>
				<span ng-bind="sv.Min" ng-if="sv.Min !== sv.Max"></span>
				<span ng-if="sv.Min !== sv.Max">~</span>
				<span ng-bind="sv.Max"></span>
				<span>/</span>
				<span ng-bind="sv.UnitName"></span>
			</div>
			<div class="weui_cell_ft" ng-if="vm.ServiceTypeId && vm.IsNegotiable == '1'" ng-cloak>
				<span ng-bind="sv.name"></span>
				&nbsp;面议
			</div>	
			<div class="weui_cell_ft" ng-if="!vm.ServiceTypeId"></div>
		</a> -->
		<a href="javascript:;" class="weui_cell" ng-click="vm.serviceShow = true">
			<div class="weui_cell_hd">
				<img src="/images/quick-order/i-type.png" alt="" style="width:20px;margin-right:10px;display:block">	
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<p>服务类型</p>
			</div>
			<div class="weui_cell_ft" ng-if="vm.ServiceTypeId && vm.IsNegotiable == '0'" ng-cloak>
				<span ng-bind="sv.name"></span>
			</div>
			<div class="weui_cell_ft" ng-if="vm.ServiceTypeId && vm.IsNegotiable == '1'" ng-cloak>
				<span ng-bind="sv.name"></span>
				<span ng-bind="sv.StartingPrice"></span>
				元起
			</div>	
			<div class="weui_cell_ft" ng-if="!vm.ServiceTypeId"></div>
		</a>
		<div class="weui_cell" style="padding:10px;" ng-if="vm.ServiceTypeId && vm.IsNegotiable == '0'" ng-cloak>
            <div class="weui_cell_bd weui_cell_primary">
                <p></p>
            </div>
            <div class="zj_cell_ft">
            	<span>小时工 价格范围 
            		{{sv.Min | number:1}}-{{sv.Max | number:1}}/{{sv.UnitName}}
        		</span>
            </div>
        </div>
		<a href="javascript:;" class="weui_cell weui_cell_select" style="padding:5px 0 5px 10px;" ng-if="vm.ServiceTypeId && vm.IsNegotiable == '0'" ng-cloak>
			<div class="weui_cell_hd">
				<img src="/images/quick-order/i-type.png" alt="" style="width:20px;margin-right:10px;display:block">
			</div>
			<div class="weui_cell_bd">
				<p>服务价格</p>
			</div>
			<div class="weui_cell_primary" style="text-align:right;">
				<select class=" weui_select rtl fc8" name="" id="" ng-model="vm.surePrice" ng-options="('¥'+item+'每小时') for item in sv.PriceList">
					<option value="">--请选择服务价格--</option>
				</select>
			</div>
		</a>
		<div class="weui_cell no_access" ng-if="vm.IsNegotiable == '0'" ng-cloak>
			<div class="weui_cell_hd">
				<img src="/images/quick-order/i-count.png" alt="" style="width:20px;margin-right:10px;display:block">
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<p>服务数量</p>
			</div>
			<div class="zj_cell_right">
				<div class="zj_select_plus">
					<i class="zj_select_sub" ng-click="vm.sub()"></i>
					<input class="zj_select_num" type="number" maxlength="4" ng-model="vm.Total">
					<i class="zj_select_add" ng-click="vm.add()"></i>
				</div>
			</div>
			<div ng-bind="sv.UnitName"></div>
		</div>
		<a href="javascript:;" class="weui_cell"  ng-click="vm.datePickerShow()">
			<div class="weui_cell_hd">
				<img src="/images/quick-order/i-time.png" alt="" style="width:20px;margin-right:10px;display:block">
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<p>服务时间</p>
			</div>
			<div ng-if="!vm.ServiceStartAt" class="weui_cell_ft pblue" ng-cloak>请选择服务时间</div>
			<div ng-if="vm.ServiceStartAt" class="weui_cell_ft pblue" ng-cloak>
				<span ng-bind="vm.ServiceStartAt"></span>
			</div>
		</a>
	</div>
	<!-- 服务类型&服务数量&服务时间 end-->
	<!-- 判断3个条件  IsNegotiable 0 区间价； 1 定价 -->
	<!-- 判断3个条件 最高价与最低价是否一致 sv.Max sv.Min -->
	<!-- 判断3个条件 活动是否存在 gt.PromotionRule.length   gt.SpecialRule.length -->
	<!-- 活动 满足条件 beginning -->
		<div class="weui_cells weui_cells_access" ng-if="gt.PromotionRule.length >0  || gt.SpecialRule.length > 0" ng-cloak>
			<!-- 满减活动	 -->
			<div class="weui_cell no_access" style="padding-bottom:0;" ng-if="vm.IsNegotiable == '0' && (sv.Max ==sv.Min) && (sv.Max * vm.Total >= gt.SpecialRule[0].Upper)">
				<div class="weui_cell_hd">
					<img src="/images/quick-order/i-gift.png" alt="" style="width:16px;margin-right:10px;display:block;">
				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<span class="pred" ng-bind="gt.SpecialAds"></span>
					<img ng-click="vm.dialogSexplain = true" src="/images/quick-order/i-help.png" alt="" style="width:16px;vertical-align:text-top;">
				</div>
				<div class="zj_cell_ft">
					<p>-¥<span ng-bind="gt.SpecialRule[0].Minus | number:1"></span></p>
				</div>
			</div>
			<!-- 满返活动 无论是面议还是定价-->
			<div style="padding:10px 10px;font-size:16px;" class="pred" ng-if="gt.PromotionRule.length>0">
				<span class="pro_box" ng-bind="gt.PromotionTitle"></span>
			 	<span class="f15" ng-if="sv.Max*vm.Total >= gt.PromotionRule[0].Upper" ng-bind="gt.PromotionName"></span>
				<img ng-click="vm.dialogPexplain = true" src="/images/quick-order/i-help.png" alt="" style="width:16px;vertical-align:text-top;">
			</div>
			<!-- 满减活动  面议情况 -->
			<div style="padding:10px 10px 10px 10px;font-size:14px;" class="webkit_box" ng-if="vm.IsNegotiable == '1' && gt.SpecialRule.length > 0">
				<span class="pred" ng-bind="gt.SpecialAds"></span>
				<img ng-click="vm.dialogSexplain = true" src="/images/quick-order/i-help.png" alt="" style="width:18px;vertical-align:text-top;padding-left:5px;">
			</div>	
			<!-- 定价才显示待支付 定价情况-->
			<div class="weui_cell no_access" style="padding:10px 10px 10px 10px;font-size:15px;" ng-if="vm.IsNegotiable == '0' && (sv.Max ==sv.Min)">
				<div class="weui_cell_bd flex2">
					<p>订单总价&nbsp;¥
						<span ng-bind="sv.Max * vm.Total"></span>
						<span class="pl10 ml10" ng-if="sv.Max * vm.Total >= gt.SpecialRule[0].Upper">优惠&nbsp;¥<span ng-bind="gt.SpecialRule[0].Minus"></span></span>
					</p>
				</div>
				<div class="zj_cell_right" style="color:#000" ng-if="gt.SpecialRule.length == 0">
					<span>待支付</span>
					<span class="pred f20 pl5 f18">¥&nbsp;<span ng-bind="sv.Max *vm.Total | number:1"></span></span>
				</div>
				<div class="zj_cell_right" style="color:#000" ng-if="gt.SpecialRule.length > 0">
					<span>待支付</span>
					<span class="pred f20 pl5 f18" ng-if="sv.Max *vm.Total < gt.SpecialRule[0].Upper">¥&nbsp;<span ng-bind="sv.Max *vm.Total | number:1"></span></span>
					<span class="pred f20 pl5 f18" ng-if="sv.Max *vm.Total >= gt.SpecialRule[0].Upper">¥&nbsp;<span ng-bind="sv.Max *vm.Total-gt.SpecialRule[0].Minus | number:1"></span></span>
				</div>
			</div>
			<div style="padding:10px 10px 10px 10px;font-size:14px;" class="webkit_box" ng-if="vm.IsNegotiable == '0' && gt.SpecialRule.length > 0 && (sv.Max !=sv.Min)">
				<span class="pred" ng-bind="gt.SpecialAds"></span>
				<img ng-click="vm.dialogSexplain = true" src="/images/quick-order/i-help.png" alt="" style="width:16px;vertical-align:text-top;padding-left:5px;">
			</div>
		</div>	
		<!-- 活动 满足条件 endind -->
	<!-- 备注 & 图片 begin-->
	<div class="weui_cells weui_cells_access">
		<div class="weui_cell no_access" style="padding:10px;">
			<div class="weui_cell_bd weui_cell_primary">
				<h4 class="fc8">备注</h4>
				<textarea name="" id="textarea" textarea-size cols="20" rows="4" placeholder="描述您的服务要求，例如服务总时间，对工人的要求等" class="weui_textarea h20" ng-model="vm.ServiceContent" maxlength="200"></textarea>
				<div class="weui_textarea_counter">
					<span ng-bind="textarea_size"></span>
					/200
				</div>
			</div>
		</div>
		<div class="weui_cell weui_cells_form no_access" ng-controller="uploaderFileCtrl" style="padding:10px;">
			<div class="weui_cell_bd weui_cell_primary no_access">
				<div class="weui_uploader">
					<div class="weui_uploader_hd weui_cell no_access">
						<div class="weui_cell_bd weui_cell_primary">上传图片（供工人参考，最多8张）</div>
						<div class="zj_cell_ft" ng-click="vm.showImage = !vm.showImage">
							<img src="/images/quick-order/addition.png" alt="" style="width: 20px;vertical-align:middle;">
						</div>
					</div>
					<div class="weui_uploader_bd mt10" ng-show="vm.showImage">
						<ul class="weui_uploader_files">
							<!-- <li class="weui_uploader_file" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/);">
								<i></i>
							</li> -->
						</ul>
						<div class="weui_uploader_input_wrp">
							<input id="file" type="file" accept="image/*multiple" class="weui_uploader_input" ng-click="uf.upload()">
						</div>
					</div>
				</div>
			</div>
			<div></div>
		</div>
	</div>
	<!-- 备注 & 图片 end-->
	<!-- 服务说明 begin-->
	<div class="weui_cell bgf mb49 fc8 lh30">
		<div class="weui_cell_bd weui_cell_primary">
			<p class="f15">服务说明</p>
			<!-- <p class="f15" ng-bind="fw.Description"></p> -->
			<p class="f13 lh24" ng-repeat="item in fw track by $index" ng-if="fw !== null" ng-cloak>
				<span ng-bind="item"></span>
			</p>
		</div>
	</div>
	<!-- 服务说明 end-->
	<div class="zj_foot webkit_box">
		<div class="zj_foot_hd">
			待支付
		</div>
		<div class="zj_foot_bd" ng-if="vm.IsNegotiable == null || vm.IsNegotiable == undefined" ng-cloak>
			<span>--</span>
		</div>
		<div class="zj_foot_bd" ng-if="vm.IsNegotiable == '0' && (vm.surePrice == null || vm.surePrice == undefined)" ng-cloak>
			¥ <span ng-bind="sv.Min*vm.Total"></span>-<span ng-bind="sv.Max*vm.Total"></span>
		</div>
		<!--IsNegotiable 0 无活动 -->
		<div class="zj_foot_bd" ng-if="vm.IsNegotiable == '0' && vm.surePrice && gt && (gt.SpecialRule == null || gt.SpecialRule.length == 0) && (vm.surePrice != null || vm.surePrice != undefined)" ng-cloak>
			<span>¥</span>
			<span ng-bind="sv.surePrice*vm.Total | number:1"></span>
		</div>
		<!--IsNegotiable 0 满减活动 -->
		<div class="zj_foot_bd" ng-if="vm.IsNegotiable == '0' && gt && gt.SpecialRule.length > 0 && (vm.surePrice != null || vm.surePrice != undefined)" ng-cloak>
			<span ng-if="vm.surePrice">¥</span>
			<span ng-if="vm.surePrice*vm.Total < gt.SpecialRule[0].Upper" ng-bind="vm.surePrice*vm.Total | number:1"></span>
			<span ng-if="vm.surePrice*vm.Total >= gt.SpecialRule[0].Upper" ng-bind="vm.surePrice*vm.Total-gt.SpecialRule[0].Minus | number:1"></span>
		</div>
		<!-- IsNegotiable 1 无价格(面议) -->
		<div class="zj_foot_bd" ng-show="vm.IsNegotiable == '1'">
			<span ng-bind="sv.StartingPrice | number:1"></span>
			<span class="f14 fc8">起</span>
		</div>
		<div class="zj_foot_ft" ng-click="vm.submitOrder()">
			<span class="btn">提交订单</span>
		</div>
	</div>
</form>

<!-- loadingToast -->
<div id="loadingToast" class="weui_loading_toast" ng-show="loadingToast === true" ng-cloak>
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">正在提交...</p>
    </div>
</div>

<!-- error dialog_alert -->
<div class="weui_dialog_alert" ng-show="vm.dialogshow == true" ng-cloak>
	<div class="weui_mask">
		<div class="weui_dialog">
			<div class="weui_dialog_bd mt20" ng-bind="vm.errorMsg"></div>
			<div class="weui_dialog_ft">
				<a href="javascript:;" class="weui_btn_dialog_primary" ng-click="vm.dialogshow = false">
					确定
				</a>
			</div>
		</div>
	</div>
</div>

<!-- info dialog_alert -->
<div class="weui_dialog_confirm" ng-show="vm.dialogInfoShow == true" ng-cloak>
    <div class="weui_mask"></div>
    <div class="weui_dialog">
    	<div class="weui_dialog_hd"><strong class="weui_dialog_title">提示信息</strong></div>
    	<div class="tc fc8">请您确认服务信息填写正确再提交订单</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog default" ng-click="vm.dialogInfoShow = false">我再想想</a>
            <a href="javascript:;" class="weui_btn_dialog primary" ng-click="vm.submitOrderSure()">我已确认</a>
        </div>
    </div>
</div>

<!-- date_picker -->
<div class="zj_date_picker" zh-date-picker id="zh_date_picker" ng-controller="datePickerCtrl">
	<div class="" ng-class="{true:'zj_mask_transition zj_fade_toggle',false:''}[dp.show]"></div>
	<div class="zj_actionsheet" ng-class="{true:'zj_actionsheet_toggle',false:''}[dp.show]">
		<div class="zj_navbar">
			<ul class="zj_navbar_item zj_flex_1">
				<li ng-repeat="item in dp.timeList" ng-model="dp.timeItem" ng-click="dp.getdpDay(item)">
					<span>{{item.Date}}</span>
				</li>
			</ul>
			<ul class="zj_tab_bd zj_flex_1">
				<li class="zj_li"  ng-repeat="item in dp.timeItem" ng-click="dp.getdpTime(item)" ng-class="{'0':'fc8'}[item.IsVacant]">
					<span>{{item.Time}}</span>
					<span ng-if="item.IsVacant === '0'">约满</span>
					<i class="weui_icon_success zj_icon hide" ng-class="{'0':'disnone'}[item.IsVacant]"></i>
				</li>
			</ul>
		</div>
		<div class="zj_ft" ng-click="dp.show = false">
			取消
		</div>
	</div>
</div>

<!-- 服务类型 -->
<div class="zj_service" ng-controller="serviceTypeCtrl" ng-if="vm.serviceShow === true" ng-cloak>
	<div class="zj_mask_transition zj_fade_toggle"></div>
	<div class="zj_actionsheet zj_actionsheet_toggle"  style="overflow:auto;height:100%;">
		<div class="col90 container style='overflow:auto'">
			<div ng-repeat="item in st.serviceList">
				<!-- 热门服务 begin-->
				<div class="title" ng-if="item.TypeId == '0'" ng-click="vm.flag0 = !vm.flag0">
					<div class="weui_cell_hd">
						<img class="zj_icon_img" src="/images/quick-order/i-hot.png" alt="" style="width:25px;margin-right:10px;display:block;">			
					</div>
					<div class="flex1" ng-bind="item.TypeName"></div>
					<div ng-if="item.Children.length > 6" class="zj_cell_ft" ng-class="{false:'change'}[vm.flag0]"></div>
				</div>
				<div class="bd blred" ng-if="item.TypeId == '0' && item.Children.length > 6">
					<div class="cell" ng-show="$index < 5" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
					<div ng-show="vm.flag0 && item.Children.length>=5" class="cell pblue" ng-click="vm.flag0 = !vm.flag0">更多</div>
					<div class="cell" ng-show="$index >= 5 && vm.flag0==false" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
				</div>
				<div class="bd blred" ng-if="item.TypeId == '0' && item.Children.length <= 6">
					<div class="cell" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
				</div>
				<!-- 热门服务 end-->
				<!-- 安装 beign-->
				<div class="title" ng-if="item.TypeId == '168'" ng-click="vm.flag168 = !vm.flag168">
					<div class="weui_cell_hd">
						<img class="zj_icon_img" src="/images/quick-order/i-install.png" alt="" style="width:25px;margin-right:10px;display:block;">
					</div>
					<div class="flex1" ng-bind="item.TypeName"></div>
					<div ng-if="item.Children.length > 6" class="zj_cell_ft" ng-class="{false:'change'}[vm.flag168]"></div>
				</div>
				<div class="bd blorange" ng-if="item.TypeId == '168' && item.Children.length > 6">
					<div class="cell" ng-show="$index < 5" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
					<div ng-show="vm.flag168 && item.Children.length>=5" class="cell pblue" ng-click="vm.flag168 = !vm.flag168">更多</div>
					<div class="cell" ng-show="$index >= 5 && vm.flag168==false" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
				</div>
				<div class="bd blorange" ng-if="item.TypeId == '168' && item.Children.length <= 6">
					<div class="cell" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
				</div>
				<!-- 安装 end-->
				<!-- 便民 begin-->
				<div class="title" ng-if="item.TypeId == '169'" ng-click="vm.flag169 = !vm.flag169">
					<div class="weui_cell_hd">
						<img class="zj_icon_img" src="/images/quick-order/i-people.png" alt="" style="width:25px;margin-right:10px;display:block;">				
					</div>
					<div class="flex1" ng-bind="item.TypeName"></div>
					<div ng-if="item.Children.length > 6" class="zj_cell_ft" ng-class="{false:'change'}[vm.flag169]"></div>
				</div>
				<div class="bd blred" ng-if="item.TypeId == '169' && item.Children.length > 6">
					<div class="cell" ng-show="$index < 5" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
					<div ng-show="vm.flag169 && item.Children.length>=5" class="cell pblue" ng-click="vm.flag169 = !vm.flag169">更多</div>
					<div class="cell" ng-show="$index >= 5 && vm.flag169==false" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
				</div>
				<div class="bd blred" ng-if="item.TypeId == '169' && item.Children.length <= 6">
					<div class="cell" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
				</div>
				<!-- 便民 end-->
				<!-- 家政 beign-->
				<div class="title" ng-if="item.TypeId == '170'" ng-click="vm.flag170 = !vm.flag170">
					<div class="weui_cell_hd">
						<img class="zj_icon_img" src="/images/quick-order/i-broom.png" alt="" style="width:25px;margin-right:10px;display:block;">
					</div>
					<div class="flex1" ng-bind="item.TypeName"></div>
					<div ng-if="item.Children.length > 6" class="zj_cell_ft" ng-class="{false:'change'}[vm.flag170]"></div>
				</div>
				<div class="bd blgreen" ng-if="item.TypeId == '170' && item.Children.length > 6">
					<div class="cell" ng-show="$index < 5" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
					<div ng-show="vm.flag170 && item.Children.length>=5" class="cell pblue" ng-click="vm.flag170 = !vm.flag170">更多</div>
					<div class="cell" ng-show="$index >= 5 && vm.flag170==false" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
				</div>
				<div class="bd blgreen" ng-if="item.TypeId == '170' && item.Children.length <= 6">
					<div class="cell" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
				</div>
				<!-- 家政 end-->
				<!-- 维修 begin-->
				<div class="title" ng-if="item.TypeId == '171'" ng-click="vm.flag171 = !vm.flag171">
					<div class="weui_cell_hd">
						<img class="zj_icon_img" src="/images/quick-order/i-fix.png" alt="" style="width:25px;margin-right:10px;display:block;">						
					</div>
					<div class="flex1" ng-bind="item.TypeName"></div>
					<div ng-if="item.Children.length > 6" class="zj_cell_ft" ng-class="{false:'change'}[vm.flag171]"></div>				
				</div>
				<div class="bd blpurple" ng-if="item.TypeId == '171' && item.Children.length > 6">
					<div class="cell" ng-show="$index < 5" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
					<div ng-show="vm.flag171 && item.Children.length>=5" class="cell pblue" ng-click="vm.flag171 = !vm.flag171">更多</div>
					<div class="cell" ng-show="$index >= 5 && vm.flag171==false" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
				</div>
				<div class="bd blpurple" ng-if="item.TypeId == '171' && item.Children.length <= 6">
					<div class="cell" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
				</div>
				<!-- 维修 end-->
				<!-- 装修 begin-->
				<div class="title" ng-if="item.TypeId == '172'" ng-click="vm.flag172 = !vm.flag172">
					<div class="weui_cell_hd">
						<img class="zj_icon_img" src="/images/quick-order/i-decoration.png" alt="" style="width:25px;margin-right:10px;display:block;">						
					</div>
					<div class="flex1" ng-bind="item.TypeName"></div>
					<div ng-if="item.Children.length > 6" class="zj_cell_ft" ng-class="{false:'change'}[vm.flag172]"></div>			
				</div>
				<div class="bd blpink mb15" ng-if="item.TypeId == '172' && item.Children.length > 6">
					<div class="cell" ng-show="$index < 5" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
					<div ng-show="vm.flag172 && item.Children.length>=5" class="cell pblue" ng-click="vm.flag172 = !vm.flag172">更多</div>
					<div class="cell" ng-show="$index >= 5 && vm.flag172==false" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
				</div>
				<div class="bd blpink" ng-if="item.TypeId == '172' && item.Children.length <= 6">
					<div class="cell" ng-repeat="op in item.Children" ng-click="st.getTypeName(op)" ng-bind="op.TypeName">
					</div>
				</div>
				<!-- 装修 end-->
			</div>
		</div>
	</div>

	<!-- dialog 服务类型三四级类别 -->
	<div class="zj_mask_dialog" ng-show="st.dialog == true" ng-cloak ng-click="st.dialog = false"></div>
	<div class="zj_dialog" ng-show="st.dialog == true" ng-cloak>
		<div class="zj_service_dialog">
			<p style="background-color:#27b8f3;color:#fff;padding:10px 0;" ng-bind="st.title"></p>
			<p class="bd" ng-repeat="item in st.List" ng-bind="item.TypeName" ng-click="st.getThreeTypeName(item.TypeId,item.TypeName)"></p>
		</div>
	</div>
</div>

<!-- dialog 满返服务说明 -->
<div class="weui_dialog_alert" ng-show="vm.dialogPexplain == true" ng-cloak>
	<div class="weui_mask">
		<div class="weui_dialog">
			<div class="weui_dialog_hd">
				<strong class="weui_dialog_title" ng-bind="gt.PromotionTitle"></strong>
			</div>
			<div class="weui_dialog_bd" ng-bind="gt.PromotionHelp"></div>
			<div class="weui_dialog_ft">
				<a href="javascript:;" class="weui_btn_dialog_primary" ng-click="vm.dialogPexplain = false">
					确定
				</a>
			</div>
		</div>
	</div>
</div>

<!-- dialog 满减服务说明 -->
<div class="weui_dialog_alert" ng-show="vm.dialogSexplain == true" ng-cloak>
	<div class="weui_mask">
		<div class="weui_dialog">
			<div class="weui_dialog_hd">
				<strong class="weui_dialog_title" ng-bind="gt.SpecialTitle"></strong>
			</div>
			<div class="weui_dialog_bd" ng-bind="gt.SpecialHelp"></div>
			<div class="weui_dialog_ft">
				<a href="javascript:;" class="weui_btn_dialog_primary" ng-click="vm.dialogSexplain = false">
					确定
				</a>
			</div>
		</div>
	</div>
</div>

<script src="/js/common/config.min.js"></script>
<script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/angular.js/1.3.20/angular.min.js"></script>
<script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
<script src="/js/quick-order/quick-order.min.js"></script>
</body>
</html>