<!DOCTYPE html>
<html lang="en" ng-app="com.wapapp.app">
<head> 
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- 为移动设备添加 viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
	<!--禁止电话，邮件识别-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="助家生活">
    <meta name="keywords" content="助家生活">
    <meta name="author" content="zxh">
	<title>支付</title>

	<link rel="stylesheet" href="/css/weui.min.css">
	<link rel="stylesheet" href="/css/pay/pay.min.css">
	<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
	</style>
</head> 
<body ng-controller="payCtrl">
<form novalidate="novalidate" name="form">
	<div class="weui_cells mb10" ng-if="od.ServiceProviderId">
		<div class="weui_cell" style="padding:10px;">
			<div class="weui_cell_hd">
				<img src="/images/emt.jpg" alt="" style="width:30px;margin-right:5px;display:block;border-radius:15px;">
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<span class="ml5" ng-bind="od.ServiceProviderName"></span>
				<span ng-if="od.ServiceProviderGender === '0'">师傅</span>
				<span ng-if="od.ServiceProviderGender === '1'">阿姨</span>
			</div>
			<div class="weui_cell_ft">
				<a ng-href="tel:od.PhoneNumber" href="javascript:;">
					<img src="/images/pay/phone.png" alt="" style="width: 30px;">
				</a>
			</div>
		</div>
	</div> 
	<div class="weui_cells weui_cells_access">
		<div class="zj_cell">
			<div class="webkit_box col100 pb15"  ng-if="od.IsNegotiable === '0'" ng-cloak>
				<div class="weui_cell_bd weui_cell_primary">
					<p>服务价格</p>
				</div>
				<div class="zj_cell_ft" >
					<span>
						x<span ng-bind="od.Total"></span>
					</span>
					<span class="ml20">
						¥ <span ng-bind="od.Price | number:1"></span>
						<!-- /<span ng-bind="od.UnitName"></span>	 -->
					</span>
				</div>
			</div>
			<div class="webkit_box col100">
				<div class="weui_cell_bd weui_cell_primary">
					<p>订单总价</p>
				</div>
				<div class="zj_cell_ft" >
					¥ <span ng-bind="od.TotalPrice | number:1"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="weui_cells mt10 weui_cells_access">
		<!-- 满足活动情况 -->
		<div class="weui_cell" ng-show="od.Activity && od.Activity.SpecialRule.length > 0" ng-cloak>
			<div class="weui_cell_bd weui_cell_primary">
				<p ng-bind="od.Activity.SpecialTitle"></p>
			</div>
			<div class="zj_cell_ft">
				<span>-¥
					<span ng-bind="od.Activity.SpecialRule[0].Minus"></span>
				</span>
			</div>
		</div>	
		<div class="weui_cell no_access">
            <div class="weui_cell_bd weui_cell_primary">
                <p>支付金额</p>
            </div>
            <!-- 参加活动& 使用优惠券 -->
            <div class="zj_cell_ft pred f20" ng-if="od.Activity && od.Activity.SpecialRule.length > 0" ng-cloak>
            	¥ <span ng-bind="od.TotalPrice-od.Activity.SpecialRule[0].Minus"></span>
            </div>
            <!-- 没有参加活动&没有使用优惠券 -->
             <div class="zj_cell_ft pred f20" ng-if="od.Activity === null || od.Activity.SpecialRule.length == 0" ng-cloak>
            	¥ <span ng-bind="od.TotalPrice"></span>
            </div>
        </div>
	</div>
	<div class="weui_cells weui_cells_checkbox mt10">
		<div class="weui_cell">请选择支付方式</div>
		<label for='s11' class="weui_cell weui_check_label">
			<div class="weui_cell_hd">
				<img src="/images/pay/yue.png" alt="" style="width:30px;display:block;margin-right:5px;">
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<p>账户余额支付 余额<span ng-bind="uc.Balance"></span>元</p>
			</div>
			<div class="weui_cell_ft" ng-click="vm.yeIschecked = !vm.yeIschecked">
				<input type="checkbox" name="checkbox" id="s11" class="weui_check" ng-checked="vm.yeIschecked">
				<i class="weui_icon_checked"></i>
			</div>
		</label>
		<label for="s12" class="weui_cell weui_check_label" id="zfb">
			<div class="weui_cell_hd">
				<img src="/images/pay/zhifubao.png" alt=""  style="width:30px;display:block;margin-right:5px;">
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<p>支付宝支付</p>
			</div>
			<div class="weui_cell_ft" ng-click="vm.zfbchecked()">
				<input type="checkbox" name="checkbox1" id="s12" class="zj_check" ng-class="{true:'checked'}[vm.zfbIschecked]" ng-checked="vm.zfbIschecked"></input>
				<i class="weui_icon_checked"></i>
			</div>
		</label>
		<label for="s13" class="weui_cell weui_check_label" id="wx">
			<div class="weui_cell_hd">
				<img src="/images/pay/weixin.png" alt="" style="width:30px;display:block;margin-right:5px;">
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<p>微信支付</p>
			</div>
			<div class="weui_cell_ft" ng-click="vm.wxchecked()">
				<input type="checkbox" name="checkbox1" id="s13" class="zj_check" ng-class="{true:'checked'}[vm.wxIschecked]" ng-checked="vm.wxIschecked"></input>
				<i class="weui_icon_checked"></i>
			</div>
		</label>
	</div>
	<div class="foot">
		<a href="javascript:;" class="weui_btn weui_btn_primary" ng-click="vm.payOrder()" ng-if="od.Activity && od.Activity.SpecialRule.length > 0">
			确认支付 <span ng-bind="od.TotalPrice-od.Activity.SpecialRule[0].Minus"></span> 元
		</a>
		<a href="javascript:;" class="weui_btn weui_btn_primary" ng-click="vm.payOrder()" ng-if="od.Activity === null || od.Activity.SpecialRule.length == 0">
			确认支付 <span ng-bind="od.TotalPrice"></span> 元
		</a>
		<div class="fc8 mt10 f14">
			<p>温馨提示:</p>
			<p>1.在线支付才能享受特价等优惠活动哦</p>
			<p>2.如有疑问请联系客服 <a ng-href="tel:4008-262-056" href="javascript:;"><span class="pblue">4008-262-056</span></a></p>
		</div>
	</div>
	
</form>


<!-- loadingToast -->
<div id="loadingToast" class="weui_loading_toast" ng-show="loadingToast === true" ng-cloak>
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">正在提交...</p>
    </div>
</div>

<!-- dialog_alert error-->
<div class="weui_dialog_alert" ng-show="vm.dialogshow == true" ng-cloak>
	<div class="weui_mask">
		<div class="weui_dialog">
			<div class="weui_dialog_bd mt20" ng-bind="vm.errorMsg"></div>
			<div class="weui_dialog_ft">
				<a href="javascript:;" class="weui_btn_dialog_primary" ng-click="vm.dialogshow = false">
					确定
				</a>
			</div>
		</div>
	</div>
</div>

<!-- dialog_alert confirm-->
<div class="weui_dialog_confirm" ng-show="vm.dialogConfirm == true" ng-cloak>
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">确认信息</strong></div>
        <div class="weui_dialog_bd">请确认已将费用以现金方式支付给工人</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog default" ng-click="vm.dialogConfirm = false">取消</a>
            <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>



<script src="/js/common/config.min.js"></script>
<script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="/js/common/jquery.cookie.min.js"></script>
<script src="//cdn.bootcss.com/angular.js/1.3.20/angular.min.js"></script>
<script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
<script src="/js/pay/pay.min.js"></script>
</body>
</html>