<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- 为移动设备添加 viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!--禁止电话，邮件识别-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="助家生活">
    <meta name="keywords" content="助家生活">
    <meta name="author" content="zxh">
    <link rel="stylesheet" href="/css/weui.min.css">
    <link rel="stylesheet" href="/css/pay/pay-success.min.css">
    <title>支付成功</title>
    <style>
	*{
		margin:0;
		padding:0;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
		-webkit-tap-highlight-color: transparent;
	}
	
    </style>
</head>
<body>
	<div class="pay-top">
		<img src="/images/pay/icon_pay.png" alt="" class="icon-img">
		<div class="pay-notice">
			<p>支付成功</p>
			<p>已支付 <span class="orange">￥80.0</span></p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="ser-info">
		<p>服务信息</p>
		<div class="de-info">
			<p>联 系 人：<span class="datas">王女士 13148366695</span></p>
			<p>服务地址：<span class="datas">江干区迪凯国际中心2502</span></p>
			<p>服务时间：<span class="datas">2016-08-18 15:15</span></p>
		</div>	
	</div>
	<div class="two-link">
		<div>
			<a href="javascript:;" style="float:left;">查看订单</a>
			<a href="javascript:;" style="float:right;">返回首页</a>
		</div>
	</div>
</body>
</html>