
/*CSS reset*/
a,img,button,input,textarea,ul,li,div{-webkit-tap-highlight-color:rgba(255,255,255,0);}
/*布局相关 flexbox 
＊“display:box;”或者“box-{*}”属性，那么你看的正是2009年版本的Flexbox。
＊“display:flexbox;”或者“flex()”函数，那么你看的正是2011年版本的Flexbox。（在IE10中将运行Flexbox的中间版本（2011年版本）：display: flexbox;）
＊“display:flex;”和“flex-{*}”属性，那么你查看的是当前的规范。
*/
.webkit_box{display: -webkit-flex;display: -moz-flex; display: flex; -webkit-box-orient: horizontal; }
.flex1 {-webkit-flex-grow: 1;-moz-flex-grow: 1; flex-grow: 1;}
.flex2 {-webkit-flex-grow: 2;-moz-flex-grow: 2; flex-grow: 2;}
.flex3 {-webkit-flex-grow: 3;-moz-flex-grow: 3; flex-grow: 3;}
.flexc {align-items:center;}
.flexs {align-self: center;}
/*宽度百分比 width percentage*/
.col10{width:10%;}
.col20{width:20%;}
.col30{width:30%;}
.col32{width:32%;}
.col33{width: 33.33%;}
.col40{width:40%;}
.col44{width:44%;}
.col45{width:45%;}
.col49{width:49%;}
.col50{width:50%;}
.col53{width:53%;}
.col60{width:60%;}
.col70{width:70%;}
.col80{width:80%;}
.col85{width:85%;}
.col88{width:88%;}
.col90{width:90%;}
.col100{width:100%;}
/*外边框*/
.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}

/*块居中 block center*/
.bc{margin-left: auto;margin-right: auto;}
.container {
	margin-left: auto;
	margin-right: auto;
}
/*文本 左 中 右*/
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}

/*垂直 上 中*/
.vm{ vertical-align:middle;}
.vt{ vertical-align:top;}

/*浮动 左 右*/
.fl{ float:left;}
.fr{ float:right;}

/*清除浮动 左 中 右*/
.cb{ clear:both;}
.cl{ clear:left;}
.cr{ clear:right;}

/*定位*/
.pr{ position:relative;}
.pa{ position:absolute;}
.pf{ position: fixed;}

/*display 块*/
.none{ display:none;}
.block{ display:block;}
.inb{ display:inline-block;}

/*placeholder*/
input::-webkit-input-placeholder {
color: #e4e4e4 !important; /* WebKit browsers */
font-weight: 100;
}
input:-moz-placeholder {
color: #e4e4e4 !important; /* Mozilla Firefox 4 to 18 */
font-weight: 100;
}
textarea::-webkit-input-placeholder {
color: #e4e4e4 !important; /* WebKit browsers */
font-weight: 100;
}
textarea:-moz-placeholder {
color: #e4e4e4 !important; /* Mozilla Firefox 4 to 18 */
font-weight: 100;
}

/* ====================================
 * wap 3.0版配色方案 蓝色是此版本的主色调
 * ====================================
 */
.pblue {
	color: #27b8f3;
}
.pred {
	color: #f43530;
}
.pgreen {
	color: #04BE02;
}
.pyellow {
	color: #ffbe00;
}






















