*{ margin: 0; padding: 0; }
.login-box{ width: 580px; margin: 28px auto 0; height: 100px; }
.login-box .login-phone{ width: 580px; height: 80px; border-bottom: 1px solid #a4a4a4; }
.login-box .login-phone .login-phonenum{ border: 0; width: 447px; height: 80px; background: url(../images/loginicon.png) no-repeat; background-position: 18px 22px; padding-left: 84px; outline: 0;}
.btnhidden{ display: none; }
.login-box .login-phone .cleanbtn{ width: 24px; height: 24px; background: url(../images/clean.png); display: inline-block; }
.login-box .login-pwd{ width: 580px; height: 80px; border-bottom: 1px solid #a4a4a4; }
.login-box .login-pwd .login-pwdnum{ border: 0; width: 447px; height: 80px; background: url(../images/loginicon.png) no-repeat; background-position: 18px 22px; padding-left: 84px; outline: 0; }
.login-box .login-pwd .pwdshow{ width: 24px; height: 16px; background: url(../images/view.png); display: inline-block; }
.login-box .login-pwd .pwdhidden{ width: 24px; height: 16px; background: url(../images/hidden.png); display: inline-block; }
.login-box .login-btn{ width: 580px; margin-top: 46px; height: 54px; }
.login-box .login-btn .login-btnreg{ width: 286px; height: 54px; background: #6dd0fd; color: #fff; border: 0; font-size: 30px; outline: 0; }
.login-box .login-btn .login-btnlog{ width: 286px; height: 54px; background: #1cb0fc; color: #fff; border: 0; font-size: 30px; outline: 0; }
.login-box .login-reset .login-resetpwd{ float: right; display: block; margin-top: 31px; color: #b0b0b0; font-size: 20px; text-decoration: none; }
.login-box .login-blur{ width: 580px; height: 80px; border-bottom: 1px solid #1baffc; }