@charset "utf-8";
/*公共样式*/
* {margin:0; padding:0;}
body {color:#000; background:#f8f8f8; font-family:"Microsoft YaHei";font-size: 14px;}
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, tr {margin:0; padding:0;}
input, select {vertical-align:middle;}
textarea, input {word-wrap:break-word; word-break:break-all; padding:0px;}
li {list-style-type:none;}
img {border:0 none;}
a {color:#000; text-decoration:none;}
a:hover {color:#628828;}
/*a {outline:none; star:expression_r(this.onFocus=this.blur());}*/
button{outline: none;cursor: pointer;border:none;}
.clear{clear:both;}
textarea{resize: none;}
/*-------------------*/

.active{
	border-bottom: 2px solid #3fbef9;
	color:#3fbef9;
}
.top-title ul{
	border-bottom: 1px solid #aaa;
}
.top-title li{
	width: 18%;
	height: 42.5px;
	line-height: 42.5px;
	display: inline-block;
	text-align: center;
	padding-left: 2px;
}
/*.item-list{
	display: none;
}*/
.item{
	margin-top:10.5px;
}
.item-top{
	height: 44px;
    background: #fff;
    padding-top: 1px;
    border-top:1px solid #ccc;
}

.line-waiting,.line-canceled,.line-payment,.line-unconfirm,.line-evaluation{
	position: absolute;
	width: 5px;
	height: 30px;
    margin-top: 7.5px;
}
.line-waiting{
	background: #00b979;
}
.line-canceled{
	background: #f02900;
}
.line-payment{
	background: #ff7914;
}
.line-unconfirm{
	background: #fb2646;
}
.line-evaluation{
	background: #9654eb;
}

.item-top-name{
    margin-left: 17.5px;
    margin-top: 10px;
    display: inline-block;
}

.state-waiting,.state-canceled,.state-payment{
	float: right;
	margin-top: 10px;
	margin-right: 12px;
}
.state-waiting,.state-payment{
	color: #3fbef9;
}
.state-canceled{
	color: #ccc;
}

.item-center{
	padding-left: 10px;
	padding-top: 5.5px;
	padding-bottom: 16px;
}
.item-center li{
	margin-top: 10px;
	color:#999;
}
.item-center li:first-child{
	color:#000;
}
.title-right{
	float: right;
	margin-right: 5px;
}
.item-buttom{
	height: 44.5px;
	border-bottom: 1px solid #ccc;
	background: #fff;
}
.order-cancel,.order-pay,.order-pay2{
	float: right;
	display: inline-block;
 	padding-right: 10px;
 	padding-left: 10px;
	background: transparent;
	border-radius: 2.5px;
	border:1px solid #999;
	text-align: center;
	line-height: 28px;
	margin:7.5px;
}
.order-pay{
	border:1px solid #ff7914;
	color:#ff7914;
}
.order-pay2{
	border:1px solid #3fbef9;
	color:#3fbef9;
}
.total-price{
	height: 45px;
	line-height: 45px;
	background: #fff;
	text-align: right;
	padding-right: 5px;
	border-bottom: 1px solid #ccc;
}
.price-num{
	color:#ff7914;
	font-weight: bold;
}
.worker-img{
	float: left;
	width: 22.5px;
	height: 22.5px;
	margin-right: 10px;
}
.no-order{
	text-align: center;
	padding-top: 150px;
	margin:auto;
	color: #ccc;
}
.weui_dialog_confirm .weui_dialog .zj-align{ text-align: center; }