/*基础样式*/
a,img,button,input,textarea,ul,li,div{-webkit-tap-highlight-color:rgba(255,255,255,0);}
body {
	background-color: rgb(238,238,238);
}
.f14 {
	font-size: 14px;
}
.f20 {
	font-size: 20px;
}
.pblue{
	color: #27b8f3;
}
.pred {
	color: #f43530;
}
.pb15 {
	padding-bottom: 15px;
}
.ml5 {
	margin-left: 5px;
}
.ml20 {
	margin-left: 20px;
}
.mb10 {
	margin-bottom: 10px;
}
.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}
.fc8 {
	color: #888;
}
.col100 {
	width: 100%;
}
.webkit_box{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex; 
	display: flex; 
	-webkit-box-orient: horizontal; 
}
/*自定义样式*/
.zj_cell {
	padding:15px 10px;
	position: relative;
}
.foot {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.weui_check_label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.zj_check {
  position: absolute;
  left: -9999em;
}
.weui_cells_checkbox .weui_cell_hd {
  padding-right: 0.35em;
}
.weui_cells_checkbox .weui_cell:active {
  background-color: #ECECEC;
}
.weui_cells_checkbox .weui_icon_checked:before {
  content: '\EA01';
  /*color: #C9C9C9;*/
  color: #27b8f3;
  font-size: 23px;
  display: block;
}
.weui_cells_checkbox .zj_check.checked + .weui_icon_checked:before {
  content: '\EA06';
  /*color: #09BB07;*/
  color: #27b8f3;
}
/*红包框*/
.red_mask_transition {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.red_fade_toggle {
	/*background-color: rgba(0,0,0,0.6);*/
    background-color: #fff;
}
.red_actionsheet {
	position: fixed;
	left: 0;
	top: 0;
	-webkit-transform:translateY(100%);
	transform: translateY(100%);
	-webkit-backface-visibility:hidden;
	backface-visibility: hidden;
	z-index: 5000;
	width: 100%;
	background-color: #fff;
	-webkit-transition:-webkit-transform 0.3s;
	transition:-webkit-transform 0.3s;
	transition:transform 0.3s;
	transition:transform 0.3s,-webkit-transform 0.3s;
}
.red_actionsheet_toggle {
	-webkit-transform:translate(0);
	transform: translate(0);
}
/*红包*/
.red-notice{
    color: #666;
    width: 92%;
    margin: auto;
    font-size: 14px;
    margin-top: 10px;
}
.red-nums{
	color: #ff1b56;
}
.red-item {
    background: url(/images/red-packet/bg-y.png);
}
.bg-no{
    background: url(/images/red-packet/bg-n.png);
}
.red-item{ 
	position: relative;
    height: 6rem;
    background-size: 100% 100%;
    width: 94%;
    margin: auto;
    margin-top: 10px;
}
.red-item:last-child{
	margin-bottom: 10px;
}
.red-item-left{
	position: relative;
	float: left;
	height: 79%;
    width: 30%;  
    margin-top: 4%;
    color: #ff1b56;
}

.red-item-right{
    float: left;
    width: 55%;
    height: 80%;
    margin-top: 4%;
    margin-left: 2%;
    overflow: hidden;
}
.red-item-left:before {
    content: '';
    position: absolute;
    height: 200%;
    width: 1px;
    right: 0;
    border-right: 1px dashed #ccc;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.5,.5);
    transform: scale(.5,.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.red-price,.Amount{
	position: absolute;
}
.red-price{
    top: -17%;
    width: 100%;
    text-align: center;   
}

.red-rmb{
    line-height: 5.4;
}
.DiscountAmount{
    font-size: 2.3rem;
    margin-top: 5px;
}
.Amount{
    bottom: 10%;
    width: 100%;
    text-align: center;
    font-size: 14px;
}
.red-name{
	color: #333;
    font-size: 1rem;
    font-weight: bold;
}
.red-rule{
    color: #666;
    font-size: 0.7rem;
    margin-left: 8%;
}
.red-no{
	color:#ccc;
}
.red-empty{
	position: relative;
	background: #fff;
	padding: 10px;
}
.red-empty:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 200%;
    bottom: 0;
    border-bottom: 1px dashed #ccc;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.5,.5);
    transform: scale(.5,.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.red-empty span{
	color:#666;
}
.red-cent{
	width:94%;
	margin:auto;
}
.red-list {
    overflow: auto;
}
.red-img{
    width: 6%;
    float: right;
    margin-top: 2px;
}
.red-list-img{
    position: absolute;
    top: 37%;
    right: 5%;
}