<!DOCTYPE html>
<html lang="en" ng-app="com.wapapp.app">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- 为移动设备添加 viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
	<!--禁止电话，邮件识别-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="助家生活">
    <meta name="keywords" content="助家生活">
    <meta name="author" content="zxh">
	<title>确认订单</title>
 
	<link rel="stylesheet" href="/css/weui.min.css">
	<link rel="stylesheet" href="/css/point-order/point-order.min.css">
	<!-- <link rel="stylesheet" href="/lib/jquery-scroll/perfect-scrollbar.min.css"> -->
</head>
<body ng-controller="orderCtrl">
<form name="form" novalidate="novalidate" style="overflow-x:hidden;" enctype="multipart/form-data">
	<!-- <div class="weui_cells">
		<div class="weui_cell">
			<p class="f14 fc8">可以联系客服直接电话下单哦
				<a class="pblue" href="tel:4008-262-056">4008-262-056</a>
			</p>
		</div>
	</div>  -->
	<div class="weui_cells weui_cells_access zj_local_image" >
		<a href="javascript:;" class="weui_cell pb2" ng-click="vm.gotojudge()">
			<div class="weui_cell_hd">
				<img src="/images/quick-order/local.png" alt="" style="width:15px;margin-right:18px;display:block">
			</div>
			<div class="weui_cell_bd weui_cell_primary" ng-if="!vm.ServiceAddressId">
				<p class="pblue">请选择服务地址</p>
			</div>
			<div class="weui_cell_bd weui_cell_primary" ng-if="vm.ServiceAddressId">
				<div class="zj_cell_hd">
					<span class="f12" ng-bind="addr.Contact"></span>
					<span ng-if="addr.Gender == 0">男士</span>
					<span ng-if="addr.Gender == 1">女士</span>
					<span class="pl20" ng-bind="addr.PhoneNumber"></span>
				</div>
				<div class="zj_cell_bd">
					<p class="f14 fc8" ng-bind="addr.Address1"></p>
				</div>
			</div>
			<div class="weui_cell_ft"></div>
		</a>
		<img  class="pb2" src="/images/quick-order/local-border.png" alt="">
	</div>
	<div class="weui_cells weui_cells_access">
		<div class="weui_cell" style="padding:10px;">
			<div class="weui_cell_hd"><img ng-src="{{uc.Photo}}" src="http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/" alt="" style="width:26px;margin-right:15px;display:block;"></div>
			<div class="weui_cell_bd weui_cell_primary">
				<span ng-bind="uc.Name"></span>
				<span ng-if="uc.Gender == 0">师傅</span>
				<span ng-if="uc.Gender == 1">阿姨</span>
			</div>
			<div class="zj_cell_ft icon_phone">
				<a ng-href="tel:{{uc.PhoneNumber}}"><img src="/images/quick-order/i-phone.png" alt="" style="width:26px;display:block;"></a>
			</div>
		</div>
		<a href="javascript:;" class="weui_cell weui_cell_select" style="padding:5px 0 5px 10px;">
			<div class="weui_cell_hd">
				<img src="/images/quick-order/i-type.png" alt="" style="width:20px;margin-right:10px;display:block">
			</div>
			<div class="weui_cell_bd">
				<p>服务类型</p>
			</div>
			<select class="weui_cell_ft weui_cell_primary weui_select rtl" name="" id="" ng-model="vm.serviceTypeObj" ng-options="(item.ServiceTypeName+' ¥'+item.Price+'/'+item.UnitName) for item in vm.serviceTypeList">
				<option value="">--请选择服务类型--</option>
			</select>
		</a>
		<div class="weui_cell no_access">
			<div class="weui_cell_hd">
				<img src="/images/quick-order/i-count.png" alt="" style="width:20px;margin-right:10px;display:block">
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<p>服务数量</p>
			</div>
			<div class="zj_cell_right">
				<!-- <div>
					<select class="zj_cell_select" name="" id="" ng-model="vm.serviceStartAt"  ng-options="item for item in vm.dateTen">
					<option value="">--请选择--</option>
					</select>
					<span>/小时</span>
				</div> -->
				<div class="zj_select_plus">
					<i class="zj_select_sub" ng-click="vm.sub()"></i>
					<input class="zj_select_num" type="number" maxlength="4" ng-model="vm.Total">
					<i class="zj_select_add" ng-click="vm.add()"></i>
					
				</div>
			</div>
			<div>/小时</div>
		</div>
		<a href="javascript:;" class="weui_cell"  ng-click="vm.datePickerShow()">
			<div class="weui_cell_hd">
				<img src="/images/quick-order/i-time.png" alt="" style="width:20px;margin-right:10px;display:block">
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<p>服务时间</p>
			</div>
			<div ng-if="!vm.ServiceStartAt" class="weui_cell_ft pblue" >请选择服务时间</div>
			<div ng-if="vm.ServiceStartAt" class="weui_cell_ft pblue">
				<span ng-bind="vm.ServiceStartAt"></span>
			</div>
		</a>
		<!-- 活动 满足条件 beginning -->
		<div class="weui_cells weui_cells_access" ng-if="gt.PromotionRule.length>=1 || gt.SpecialRule.length>=1">	
			<div class="weui_cell no_access" style="padding-bottom:0;" ng-if="vm.serviceTypeObj.Price*vm.Total >= gt.SpecialRule[0].Upper">
				<div class="weui_cell_hd">
					<img src="/images/quick-order/i-gift.png" alt="" style="width:22px;margin-right:10px;display:block;">
				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<span class="pred">特价小时工</span>
					<img src="/images/quick-order/i-help.png" alt="" style="width:20px;vertical-align:text-top;padding-left:5px;">
				</div>
				<div class="zj_cell_ft">
					<p>-¥<span ng-bind="gt.SpecialRule[0].Minus | number:1"></span></p>
				</div>
			</div>
			<div style="padding:15px 10px;font-size:16px;" class="pred" ng-if="gt.PromotionRule.length>=1">
				<span class="pro_box" ng-bind="gt.PromotionTitle"></span>
			 	<span ng-if="vm.serviceTypeObj.Price*vm.Total >= gt.PromotionRule[0].Upper" ng-bind="gt.PromotionName"></span>
				<img src="/images/quick-order/i-help.png" alt="" style="width:20px;vertical-align:text-top;padding-left:10px;">
			</div>
			<div class="weui_cell no_access" style="padding:10px;font-size:15px;">
				<div class="weui_cell_bd flex2">
					<p>订单总价&nbsp;¥
						<span ng-bind="vm.serviceTypeObj.Price*vm.Total"></span>
						<span class="pl10 ml10" ng-if="vm.serviceTypeObj.Price*vm.Total >= gt.SpecialRule[0].Upper">优惠&nbsp;¥<span ng-bind="gt.SpecialRule[0].Minus"></span></span>
					</p>
				</div>
				<div class="zj_cell_right" style="color:#000" ng-if="gt.SpecialRule.length == 0">
					<span>待支付</span>
					<span class="pred f20 pl5 f18">¥&nbsp;<span ng-bind="vm.serviceTypeObj.Price*vm.Total | number:1"></span></span>

				</div>
				<div class="zj_cell_right" style="color:#000" ng-if="gt.SpecialRule.length > 0">
					<span>待支付</span>
					<span class="pred f20 pl5 f18" ng-if="vm.serviceTypeObj.Price*vm.Total < gt.SpecialRule[0].Upper">¥&nbsp;<span ng-bind="vm.serviceTypeObj.Price*vm.Total | number:1"></span></span>
					<span class="pred f20 pl5 f18" ng-if="vm.serviceTypeObj.Price*vm.Total >= gt.SpecialRule[0].Upper">¥&nbsp;<span ng-bind="vm.serviceTypeObj.Price*vm.Total-gt.SpecialRule[0].Minus | number:1"></span></span>
				</div>
			</div>
			<div style="padding:0 10px 15px 10px;font-size:14px;" class="webkit_box" ng-if="vm.serviceTypeObj.Price*vm.Total < gt.SpecialRule[0].Upper">
				<span class="flex1 pred" ng-bind="gt.SpecialHelp"></span>
				<img src="/images/quick-order/i-help.png" alt="" style="width:20px;vertical-align:text-top;padding-left:10px;">
			</div>
		</div>	
		<!-- 活动 满足条件 endind -->
		<div class="weui_cell no_access">
			<div class="weui_cell_bd weui_cell_primary">
				<h4 class="fc8">备注</h4>
				<textarea name="" id="textarea" textarea-size cols="20" rows="4" placeholder="描述您的服务要求，例如服务总时间，对工人的要求等" class="weui_textarea" ng-model="vm.ServiceContent" maxlength="200"></textarea>
				<div class="weui_textarea_counter">
					<span ng-bind="textarea_size"></span>
					/200
				</div>
			</div>
		</div>
		<div class="weui_cell weui_cells_form no_access" ng-controller="uploaderFileCtrl">
			<div class="weui_cell_bd weui_cell_primary no_access">
				<div class="weui_uploader">
					<div class="weui_uploader_hd weui_cell no_access">
						<div class="weui_cell_bd weui_cell_primary">上传图片（供工人参考，最多8张）</div>
						<!-- <div class="weui_cell_ft">0/2</div> -->
					</div>
					<div class="weui_uploader_bd">
						<ul class="weui_uploader_files">
							<!-- <li class="weui_uploader_file" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/);">
								<i></i>
							</li> -->
						</ul>
						<div class="weui_uploader_input_wrp">
							<input id="file" type="file" accept="image/*multiple" class="weui_uploader_input" ng-click="uf.upload()">
						</div>
					</div>
				</div>
			</div>
			<div></div>
		</div>
	</div>
	<div class="weui_cell bgf mb49 fc8 lh30">
		<div class="weui_cell_bd weui_cell_primary">
			<p>服务说明</p>
			<p>工人客户自行商量工人客户自行商量</p>
		</div>
	</div>
	<div class="zj_foot webkit_box">
		<div class="zj_foot_hd">
			订单总价
		</div>
		<div class="zj_foot_bd" ng-show="!vm.serviceTypeObj.Price">
			<span>--</span>
		</div>
		<div class="zj_foot_bd" ng-show="vm.serviceTypeObj.Price">
			<span>¥</span>
			<span ng-if="vm.serviceTypeObj.Price*vm.Total < 90" ng-bind="vm.serviceTypeObj.Price*vm.Total | number:1"></span>
			<span ng-if="vm.serviceTypeObj.Price*vm.Total >= 90" ng-bind="vm.serviceTypeObj.Price*vm.Total-10 | number:1"></span>
		</div>
		<!-- <div class="zj_foot_bd" ng-show="vm.IsNegotiable === true">
			<span>面议</span>
		</div> -->
		<div class="zj_foot_ft" ng-click="vm.submitOrder()">
			<span class="btn">提交订单</span>
		</div>
	</div>
</form>

<!-- loadingToast -->
<div id="loadingToast" class="weui_loading_toast" ng-show="loadingToast === true">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">正在提交...</p>
    </div>
</div>

<!-- dialog_alert -->
<div class="weui_dialog_alert" ng-show="vm.dialogshow == true">
	<div class="weui_mask">
		<div class="weui_dialog">
			<div class="weui_dialog_bd mt20" ng-bind="vm.errorMsg"></div>
			<div class="weui_dialog_ft">
				<a href="javascript:;" class="weui_btn_dialog_primary" ng-click="vm.dialogshow = false">
					确定
				</a>
			</div>
		</div>
	</div>
</div>

<div class="zj_date_picker" zh-date-picker id="zh_date_picker" ng-controller="datePickerCtrl">
	<div class="" ng-class="{true:'zj_mask_transition zj_fade_toggle',false:''}[dp.show]"></div>
	<div class="zj_actionsheet" ng-class="{true:'zj_actionsheet_toggle',false:''}[dp.show]">
		<div class="zj_navbar">
			<ul class="zj_navbar_item zj_flex_1">
				<li ng-repeat="item in dp.timeList" ng-model="dp.timeItem" ng-click="dp.getdpDay(item)">
					<span>{{item.Date}}</span>
				</li>
			</ul>
			<ul class="zj_tab_bd zj_flex_1">
				<li class="zj_li"  ng-repeat="item in dp.timeItem" ng-click="dp.getdpTime(item)">
					<span>{{item}}</span>
					<i class="weui_icon_success zj_icon hide"></i>
				</li>
			</ul>
		</div>
		<div class="zj_ft" ng-click="dp.show = false">
			取消
		</div>
	</div>
</div>









<script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/angular.js/1.3.20/angular.min.js"></script>
<script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
<!-- <script src="/lib/jquery-scroll/prefect-scrollbar.jquery.min.js"></script> -->
<script src="/js/point-order/point-order.min.js"></script>
</body>
</html>